@model PortafolioEPIS.Models.Tbl_PlanEstudio
@{
    ViewBag.Title = "Ver";
    List<PortafolioEPIS.Models.Tbl_DetallePlanEstudio> detalleplanestudio = ViewBag.DetallePlanEstudio;
    int obligatorios = 0;
    int electivos = 0;
    int creditosobligatorios = 0;
    int creditoselectivos = 0;
}
<div class="row">
    <div class="col-sm-7 col-6">
        <h4 class="page-title">Detalle Plan de Estudio</h4>
    </div>
    <div class="col-sm-5 col-6 text-right m-b-30">
        <a href="~/PlanEstudio/Agregar" class="btn btn-primary btn-rounded"><i class="fa fa-edit"></i> Editar Plan Estudio</a>
    </div>
</div>
<div class="card-box profile-header">
    <div class="row">
        <div class="col-md-12">
            <div class="profile-view">
                <div class="row">
                    <div class="col-md-6">
                        <div class="profile-info-left">
                            <ul class="personal-info">
                                <li>
                                    <span class="title">Semestre:</span>
                                    <span class="title">@Model.Tbl_Semestre.Nombre_Semestre</span>
                                </li>
                                <li>
                                    <span class="title">Nombre:</span>
                                    <span class="text">@Model.Nombre_PlanEstudio</span>
                                </li>
                                <li>
                                    <span class="title">Fecha Inicio:</span>
                                    <span class="text">@DateTime.Parse((Model.FechaInicio_PlanEstudio).ToString()).ToShortDateString()</span>
                                </li>
                                <li>
                                    <span class="title">Fecha Fin:</span>
                                    <span class="text">@DateTime.Parse((Model.FechaFin_PlanEstudio).ToString()).ToShortDateString()</span>
                                </li>
                                @foreach (var p in detalleplanestudio)
                                {
                                    if (p.Codigo_PlanEstudio == Model.Codigo_PlanEstudio)
                                    {
                                        if (p.TipoCurso_DetallePlanEstudio == "Obligatorio")
                                        {
                                            creditosobligatorios = creditosobligatorios + p.TotalCreditos_DetallePlanEstudio;
                                            obligatorios = obligatorios + 1;
                                        }
                                        if (p.TipoCurso_DetallePlanEstudio == "Electivo")
                                        {
                                            creditoselectivos = creditoselectivos + p.TotalCreditos_DetallePlanEstudio;
                                            electivos = electivos + 1;
                                        }
                                    }
                                }
                                <li>
                                    <span class="title">Cursos Obligatorios:</span>
                                    <span class="text">@obligatorios</span>
                                </li>
                                <li>
                                    <span class="title">Cursos Electivos:</span>
                                    <span class="text">@electivos</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <ul class="personal-info">
                            <li>
                                <span class="title">Créditos Obligatorios:</span>
                                <span class="text">@creditosobligatorios</span>
                            </li>
                            <li>
                                <span class="title">Créditos Electivos:</span>
                                <span class="text">@creditoselectivos</span>
                            </li>
                            <li>
                                <span class="title">Créditos Extra:</span>
                                <span class="text">@Model.TotalCreditosExtracurriculares_PlanEstudio</span>
                            </li>
                            <li>
                                <span class="title">Créditos Práticas:</span>
                                <span class="text">@Model.TotalCreditosPracticas_PlanEstudio</span>
                            </li>
                            <li>
                                <span class="title">Estado:</span>
                                @if (Model.Estado_PlanEstudio == true)
                                {
                                    <span class="text">Activo</span>
                                }
                                else
                                {
                                    <span class="text">Inactivo</span>
                                }
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

