@model List<PortafolioEPIS.Models.Tbl_Docente>
    @using PortafolioEPIS.Models
    @{
        ViewBag.Title = "Index";
    }

<div class="row">
    <div class="col-sm-8 col-9">
        <h4 class="page-title">Lista de Docentes</h4>
    </div>    
    <div class="col-sm-4 col-3 text-right m-b-20">
        <div class="form-check form-check-inline">
            <a href="~/Docente/Index2" class="btn btn btn-outline-primary btn-rounded"><i class="fa fa-table"></i> Cambiar Vista</a>
        </div>
        <div class="form-check form-check-inline">
            <a href="~/Docente/Agregar" class="btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> Nuevo Registro</a>
        </div>
    </div>
</div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="card-box">
                <div class="table-responsive">
                    <table id="example" class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Codigo</th>
                                <th>Nombres y Apellidos</th>
                                <th>Correo</th>
                                <th>Celular</th>
                                <th class="text-center">Estado</th>
                                <th class="text-right">Acccion</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int num = 0;}
                            @foreach (var s in Model)
                            {
                                num = num + 1;
                                <tr>
                                    <td>@num</td>
                                    <td>@(s.Codigo_Docenteepis)</td>
                                    <td>
                                        <a class="avatar" href="~/Docente/Ver/@s.Codigo_Docente"><img alt=""  src="~/Imagen/@s.Foto_Docente"></a>
                                        <h2 class="doctor-name text-ellipsis">
                                            <a href="~/Docente/Ver/@s.Codigo_Docente">
                                                @(s.Nombres_Docente + " " + s.Apellidos_Docente)
                                                @{
                                                    var objTbl_Profesion = new Tbl_Profesion();
                                                    try
                                                    {
                                                        using (var db = new Modelo_Portafolio())
                                                        {
                                                            objTbl_Profesion = db.Tbl_Profesion
                                                                .Where(x => x.Codigo_Profesion == s.Codigo_Profesion)
                                                                .SingleOrDefault();
                                                            <span>@(objTbl_Profesion.Nombre_Profesion)</span>
                                                        }
                                                    }
                                                    catch (Exception ex)
                                                    {
                                                        throw;
                                                    }
                                                }
                                            </a>
                                        </h2>
                                    </td>
                                    <td>@(s.Correo_Docente)</td>
                                    <td>@(s.TelefonoCelular_Docente)</td>

                                    @if (s.Estado_Docente == true)
                                    {
                                        <td><span class="custom-badge status-green">Activo</span></td>
                                    }
                                    else
                                    {
                                        <td><span class="custom-badge status-red">Inactivo</span></td>
                                    }
                                    <td class="text-right">
                                        <div class="dropdown dropdown-action">
                                            <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="~/Docente/Agregar/@s.Codigo_Docente"><i class="fa fa-pencil m-r-5"></i> Editar</a>
                                                <a class="dropdown-item" href="#" onclick="return confirm('¿Esta seguro que desea de Eliminar?');"><i class="fa fa-trash-o m-r-5"></i>  Eliminar</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <!--Resumen general de Semestre-->
                <br />
                @{
                    int cantActivos = 0, cantInactivos = 0 , cantHombres=0, cantMujeres=0;
                    foreach (var s in Model)
                    {
                        if (s.Estado_Docente.Equals(true))
                        {
                            cantActivos++;
                        }
                        else
                        {
                            cantInactivos++;
                        }
                        if (s.Sexo_Docente.Equals(true))
                        {
                            cantHombres++;
                        }
                        else
                        {
                            cantMujeres++;
                        }
                    }
                }

                <div class="card-box profile-header">
                    <div class="row clearfix">
                        <div class="col-md-12">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item active" aria-current="page">RESUMEN - CANTIDAD DE REGISTROS</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                            <div class="profile-view">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="profile-info-left">
                                            <ul class="personal-info">
                                                <li>
                                                    <span class="title">Docentes Hombres:</span>
                                                    <span class="text">@cantHombres</span>
                                                </li>
                                                <li>
                                                    <span class="title">Docentes Mujeres:</span>
                                                    <span class="text">@cantMujeres</span>
                                                </li>
                                                <li>
                                                    <span class="title">Total Docentes:</span>
                                                    <span class="text">@(cantMujeres + cantHombres)</span>
                                                </li>                                                
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <ul class="personal-info">
                                            <li>
                                                <span class="title">Docentes Activos:</span>
                                                <span class="text">@cantActivos</span>
                                            </li>
                                            <li>
                                                <span class="title">Docentes Inactivos:</span>
                                                <span class="text">@cantInactivos</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

