@model PortafolioEPIS.Models.Tbl_DetalleCargaAcademica
@{
    PortafolioEPIS.Models.Tbl_CargaAcademica ObjCargaAcademica = ViewBag.Tbl_CargaAcademica_id;

    
    List<PortafolioEPIS.Models.Tbl_PlanEstudio> objPlanEstudio = ViewBag.Tbl_PlanEstudio;
    List<PortafolioEPIS.Models.Tbl_Docente> objDocente = ViewBag.Tbl_Docente;
    List<PortafolioEPIS.Models.Tbl_Seccion> objSeccion = ViewBag.Tbl_Seccion;
    List<PortafolioEPIS.Models.Tbl_DetallePlanEstudio> objDetallePlanEstudio = ViewBag.Tbl_DetallePlanEstudio;
    List<PortafolioEPIS.Models.Tbl_Semestre> objSemestre = ViewBag.Tbl_Semestre;

}
<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">Agregar  Detalle Carga Académica</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card-box">
            <h4 class="card-title">Información Detalle Carga Académica</h4>
            @using (Html.BeginForm("Guardar", "DetalleCargaAcademica", FormMethod.Post, new { id = "needs-validation", @novalidate = "novalidate" }))
            {
                @Html.HiddenFor(x => x.Codigo_DetalleCargaAcademica)
                <div class="row clearfix">
                    <div class="col-md-6">
                        @Html.Label("Plan de Estudio")
                        <div class="form-group">
                            <select name="Codigo_PlanEstudio" class="form-control" id="validationCustom01" required="required">
                                <option @(Model.Codigo_PlanEstudio.Equals("") ? "Selected" : "") value="">- Seleccione -</option>

                                @foreach (var d in objPlanEstudio)
                                {
                                    <option @(Model.Codigo_PlanEstudio.Equals(d.Codigo_PlanEstudio) ? "Selected" : "") value="@d.Codigo_PlanEstudio">@d.Nombre_PlanEstudio</option>
                                }
                            </select>
                            <div class="invalid-feedback">
                                Seleccionar Plan de Estudio
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        @Html.Label("Carga Académica")
                        <div class="form-group">
                            <select name="Codigo_CargaAcademica" class="form-control" id="validationCustom02" required="required">
                                @if (ObjCargaAcademica != null)
                                {
                                    <option @ObjCargaAcademica.Codigo_CargaAcademica Selected value="@ObjCargaAcademica.Codigo_CargaAcademica">@ObjCargaAcademica.Nombre_CargaAcademica</option>
                                }
                                else
                                {
                                    <option @Model.Codigo_CargaAcademica Selected value="@Model.Codigo_CargaAcademica">@Model.Tbl_CargaAcademica.Nombre_CargaAcademica</option>
                                }
                            </select>
                            <div class="invalid-feedback">
                                Seleccionar Carga Académica
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-6">
                        @Html.Label("Asignatura")
                        <div class="form-group">
                            <select name="Codigo_DetallePlanEstudio" class="form-control" id="validationCustom03" required="required">
                                <option @(Model.Codigo_DetallePlanEstudio.Equals("") ? "Selected" : "") value="">- Seleccione -</option>

                                @foreach (var d in objDetallePlanEstudio)
                                {
                                    <option @(Model.Codigo_DetallePlanEstudio.Equals(d.Codigo_DetallePlanEstudio) ? "Selected" : "") value="@d.Codigo_DetallePlanEstudio">@d.Asignatura_DetallePlanEstudio</option>
                                }
                            </select>
                            <div class="invalid-feedback">
                                Seleccionar Asignatura
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        @Html.Label("Docente")
                        <div class="form-group">
                            <select name="Codigo_Docente" class="form-control" id="validationCustom04" required="required">
                                <option @(Model.Codigo_Docente.Equals("") ? "Selected" : "") value="">- Seleccione -</option>
                                @foreach (var d in objDocente)
                                {
                                    <option @(Model.Codigo_Docente.Equals(d.Codigo_Docente) ? "Selected" : "") value="@d.Codigo_Docente">@d.Apellidos_Docente, @d.Nombres_Docente</option>
                                }
                            </select>
                            <div class="invalid-feedback">
                                Seleccionar Docente
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-4">
                        @Html.Label("Sección")
                        <div class="form-group">
                            <select name="Codigo_Seccion" class="form-control" id="validationCustom05" required="required">
                                <option @(Model.Codigo_Seccion.Equals("") ? "Selected" : "") value="">- Seleccione -</option>
                                @foreach (var d in objSeccion)
                                {
                                    <option @(Model.Codigo_Seccion.Equals(d.Codigo_Seccion) ? "Selected" : "") value="@d.Codigo_Seccion">@d.Nombre_Seccion</option>
                                }
                            </select>
                            <div class="invalid-feedback">
                                Seleccionar Sección
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        @Html.Label("Semestre")
                        <div class="form-group">
                            <select name="Codigo_Semestre" class="form-control" id="validationCustom06" required="required">
                                @if (ObjCargaAcademica != null)
                                {
                                    <option @ObjCargaAcademica.Codigo_Semestre Selected value="@ObjCargaAcademica.Codigo_Semestre">@ObjCargaAcademica.Tbl_Semestre.Nombre_Semestre</option>
                                }
                                else
                                {
                                    <option @Model.Codigo_Semestre Selected value="@Model.Codigo_Semestre">@Model.Tbl_Semestre.Nombre_Semestre</option>
                                }
                            </select>
                            <div class="invalid-feedback">
                                Seleccionar Semestre
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        @Html.Label("Numero de Matriculados")
                        <div class="form-group">
                            @Html.TextBoxFor(x => x.Matriculados_DetalleCargaAcademica, new { @type = "number", @class = "form-control", @placeholder = "Ingrese Numero de Matriculados", id = "validationCustom07", required = "required" })
                            
                        </div>
                    </div>
                </div>
                        
                <div class="row clearfix">
                    <div class="col-md-12">
                        @Html.Label("Estado")
                        <div class="form-group">
                            @Html.RadioButtonFor(x => x.Estado_DetalleCargaAcademica, true) Activo  <label>&nbsp &nbsp</label>
                            @Html.RadioButtonFor(x => x.Estado_DetalleCargaAcademica, false) Inactivo

                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    @if (ObjCargaAcademica != null)
                    {
                        <input type="text" name="semestre_id" value="@ObjCargaAcademica.Codigo_Semestre" hidden />
                    }
                    else
                    {
                        <input type="text" name="semestre_id" value="@Model.Codigo_Semestre" hidden />
                    }

                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="form-group row">
                                <div class="col-sm-8 col-9 text-left">
                                    <div class="form-check form-check-inline">
                                       
                                            <a href="~/DetalleCargaAcademica/Index/@Model.Tbl_CargaAcademica.Codigo_Semestre" class="btn btn btn-outline-primary btn-rounded" style='width:100px; height:35px'><i class="fa fa-close"></i>  Cancelar</a>
                                        

                                    </div>
                                    
                                    <div class="form-check form-check-inline">
                                        <button class="btn btn-primary btn-rounded" style='width:100px; height:35px' type="submit"><i class="fa fa-check"></i> Guardar</button>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                        }
                    </div>
    </div>
</div>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';

        window.addEventListener('load', function () {
            var form = document.getElementById('needs-validation');
            form.addEventListener('submit', function (event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        }, false);
    })();
</script>