@model PortafolioEPIS.Models.Tbl_DetalleCargaAcademica

@{
    List<PortafolioEPIS.Models.Tbl_PruebaEntrada> prueba = ViewBag.Prueba;
    int idpruebas = 0;
    int evaluados = 0;

}

<div class="row">
    <div class="col-sm-7 col-6">
        <h4 class="page-title">Informe Prueba de Entrada</h4>
    </div>
</div>


<div class="profile-tabs">
    <ul class="nav nav-tabs nav-tabs-bottom">
        <li class="nav-item"><a class="nav-link active" href="#about-cont" data-toggle="tab">1. Datos Generales</a></li>
        <li class="nav-item"><a class="nav-link" href="#bottom-tab2" data-toggle="tab">2. Conociminetos y Habilidades</a></li>
        <li class="nav-item"><a class="nav-link" href="#bottom-tab3" data-toggle="tab">3. Medidas Correctivas</a></li>
    </ul>
    <div class="tab-content">
        <!--Pestaña 1. Datos Generales-->
        <div class="tab-pane show active" id="about-cont">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-box">
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item active" aria-current="page">INFORMACION DE CURSO</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-4">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Codigo:</label>
                                    <input type="text" style="background:#ffffff" readonly class="form-control floating" value="@Model.Tbl_DetallePlanEstudio.CodigoCurso_DetallePlanEstudio">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Asignatura:</label>
                                    <input type="text" style="background:#ffffff" readonly class="form-control floating" value="@Model.Tbl_DetallePlanEstudio.Asignatura_DetallePlanEstudio">
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-2">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Sección:</label>
                                    <input type="text" style="background:#ffffff" readonly class="form-control floating" value="@Model.Tbl_Seccion.Nombre_Seccion">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Ciclo:</label>
                                    <input type="text" style="background:#ffffff" readonly class="form-control floating" value="@Model.Tbl_DetallePlanEstudio.Ciclo_DetallePlanEstudio">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Horas:</label>
                                    <input type="text" style="background:#ffffff" readonly class="form-control floating" value="@Model.Tbl_DetallePlanEstudio.TotalHoras_DetallePlanEstudio">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Créditos:</label>
                                    <input type="text" style="background:#ffffff" readonly class="form-control floating" value="@Model.Tbl_DetallePlanEstudio.TotalCreditos_DetallePlanEstudio">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Tipo Curso:</label>
                                    <input type="text" style="background:#ffffff" readonly class="form-control floating" value="@Model.Tbl_DetallePlanEstudio.TipoCurso_DetallePlanEstudio">
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item active" aria-current="page">DATOS DOCENTE</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-4">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Codigo:</label>
                                    <input type="text" style="background:#ffffff" readonly class="form-control floating" value="@Model.Tbl_Docente.Codigo_Docenteepis">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Nombre:</label>
                                    <input type="text" style="background:#ffffff" readonly class="form-control floating" value="@Model.Tbl_Docente.Nombres_Docente @Model.Tbl_Docente.Apellidos_Docente">
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-8">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Email:</label>
                                    <input type="text" style="background:#ffffff" readonly class="form-control floating" value="@Model.Tbl_Docente.Correo_Docente">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Celular:</label>
                                    <input type="text" style="background:#ffffff" readonly class="form-control floating" value="@Model.Tbl_Docente.TelefonoCelular_Docente">
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item active" aria-current="page">NUMERO DE ESTUDIANTES</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                        <form method="post" action="" id="evaluados ">
                            @foreach (var p in prueba)
                            {
                                if (p.Codigo_DetalleCargaAcademica == Model.Codigo_DetalleCargaAcademica)
                                {
                                    idpruebas = p.Codigo_PruebaEntrada;
                                    evaluados = p.Evaluados_PruebaEntrada;
                                }
                            }
                            @if (idpruebas == 0)
                            {
                                <div class="row clearfix">
                                    <div class="col-md-6">
                                        <div class="form-group form-focus">
                                            <label class="focus-label">Matriculados:</label>
                                            <input type="text" style="background:#ffffff" readonly class="form-control floating" value="@Model.Matriculados_DetalleCargaAcademica">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-focus">
                                            <input type="text" name="idprueba" id="idprueba" value="0" class="form-control floating" hidden>
                                            <label class="focus-label">Evaluados:<span class="text-danger">*</span></label>
                                            <input type="text" name="evaluados" id="evaluados" class="form-control floating">
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-12">
                                        <div class="text-center">
                                            <button onclick="form1()" type="button" class="btn btn-primary btn-rounded" style='width:150px; height:35px' data-type="success"><i class="fa fa-refresh"></i> Actualizar</button>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="row clearfix">
                                    <div class="col-md-6">
                                        <div class="form-group form-focus">
                                            <label class="focus-label">Matriculados:</label>
                                            <input type="text" style="background:#ffffff" readonly class="form-control floating" value="@Model.Matriculados_DetalleCargaAcademica">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-focus">

                                            <input type="text" name="idprueba" id="idprueba" value="@idpruebas" class="form-control floating" hidden>
                                            @*<script type="text/javascript">
                                            function Habilitar() {
                                                var eva;
                                                eva = document.getElementById("evaluados").value;
                                                if (eva === "") {

                                                    evaluados.disabled = false;

                                                }
                                                else {
                                                    evaluados.disabled = true;
                                                }
                                            }
                                        </script>*@
                                            <label class="focus-label">Evaluados:<span class="text-danger">*</span></label>
                                            @if (evaluados == 0)
                                            {
                                                <input type="text" name="evaluados" id="evaluados" value="@evaluados" class="form-control floating">
                                            }
                                            else
                                            {
                                                <input style="background:#ffffff" readonly class="form-control floating" type="text" name="evaluados" id="evaluados" value="@evaluados">
                                            }


                                        </div>
                                    </div>
                                </div>
                            }

                        </form>
                    </div>
                </div>
            </div>
        </div>
        @if (idpruebas > 0)
        {
            <!--Pestaña 2. Conocimientos y Habilidades-->
            <div class="tab-pane" id="bottom-tab2">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-box">

                            <div class="row clearfix">
                                <div class="col-md-12">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item active" aria-current="page">CONOCIMIENTOS Y HABILIDADES</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                            <form method="post" action="" id="evaluados ">
                                <div class="row clearfix">
                                    <div class="col-md-6">
                                        <div class="form-group form-focus">
                                            <input type="text" name="idprueba" id="idprueba" value="@idpruebas" class="form-control floating" hidden>
                                            <label class="focus-label">Nombre:<span class="text-danger">*</span></label>
                                            <input type="text" name="nombre" id="nombre" class="form-control floating">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group form-focus">
                                            <label class="focus-label">Deficiente:<span class="text-danger">*</span></label>
                                            <input type="text" name="deficiente" id="deficiente" class="form-control floating">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group form-focus">
                                            <label class="focus-label">Suficiente:<span class="text-danger">*</span></label>
                                            <input type="text" name="suficiente" id="suficiente" class="form-control floating">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group form-focus">
                                            <label class="focus-label">Bueno:<span class="text-danger">*</span></label>
                                            <input type="text" name="bueno" id="bueno" class="form-control floating">
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="form-group row">
                                                <div class="col-sm-8 col-9 text-left">
                                                    <div class="form-check form-check-inline">
                                                        <button onclick="form2()" type="button" class="btn btn btn-primary btn-rounded" data-type="success" style='width:100px; height:35px'><i class="fa fa-check"></i>  Agregar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            @{Html.RenderAction("Index", "ConocimientoHabilidad", new { id1 = idpruebas }); }
                            <label>@idpruebas</label>

                        </div>
                    </div>
                </div>
            </div>
            <!--Pestaña 3. Datos Medidas Correctivas-->
            <div class="tab-pane" id="bottom-tab3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-box">
                            <div class="row clearfix">
                                <div class="col-md-12">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item active" aria-current="page">MEDIDAS CORRECTIVAS</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                            <!--CONTENIDO 3-->
                            @{Html.RenderAction("Index", "MedidasCorrectivas", new { id1 = idpruebas, id2 = Model.Codigo_DetalleCargaAcademica }); }
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            
        }
    </div>
</div>
<script>
    var form1 = function () {
        var evaluados = document.getElementById("evaluados").value;
        var stado = "G";
        var idprueba = document.getElementById("idprueba").value;
        window.location.href = '@Url.Content("~/PruebaEntrada/Guardar/")' + "?evaluados=" + evaluados + "&estado=" + stado + "&codigo=" + @Model.Codigo_DetalleCargaAcademica + "&idprueba=" + idprueba;
    }
    var form2 = function () {
        var nombre = document.getElementById("nombre").value;
        var deficiente = document.getElementById("deficiente").value;
        var suficiente = document.getElementById("suficiente").value;
        var bueno = document.getElementById("bueno").value;
        var idp = document.getElementById("idprueba").value;
        window.location.href = '@Url.Content("~/ConocimientoHabilidad/Guardar/")' + "?nombre=" + nombre + "&deficiente=" + deficiente + "&suficiente=" + suficiente + "&idprueba=" + idp + "&bueno=" + bueno+ "&codigo=" + @Model.Codigo_DetalleCargaAcademica;
    }

</script>
