@using PortafolioEPIS.Models
@{
    Layout = null;
    List<PortafolioEPIS.Models.Tbl_PruebaEntrada> pruebaEntrada = ViewBag.Prueba;

    List<PortafolioEPIS.Models.Tbl_ConocimientoHabilidad> ConocimeintoHabilidad = ViewBag.conocimientoHabilidad;
    List<PortafolioEPIS.Models.Tbl_MedidasCorrectivas> ListaMedidasCorrectivas = ViewBag.ListaTbl_MedidasCorrectivas;
    int idpruebaEntrada = 0;
    int evaluados = 0;

}


<meta name="viewport" content="width=device-width" />
<title>ListaPDFDocente</title>
<link href="~/assets/Informes/prueba_entrada.css" rel="stylesheet" />
<link href="~/Content/css/invoice.css" type="text/css" rel="stylesheet" />



<table class="table">
    <tr>
        <td><img src="~/assets/Informes/logo_pdf.PNG" width="220" height="60" /></td>
    </tr>
</table>
<span><h2><strong><u>Informe de la Prueba de Entrada</u></strong></h2></span>
<span><h2><strong><u>@Model.Tbl_Semestre.Nombre_Semestre</u></strong></h2></span>


<table border="1" class="table">
    <tr>
        <th colspan="10" style="font-size: 20px;">CURSO</th>
    </tr>
    <tr>
        <th colspan="2">Codigo</th>
        <th colspan="8">Nombre</th>
    </tr>
    <tr>
        <td colspan="1" style="text-align:center; background-color:#F2E2C4">@Model.Tbl_DetallePlanEstudio.CodigoCurso_DetallePlanEstudio</td>
        <td colspan="9">@Model.Tbl_DetallePlanEstudio.Asignatura_DetallePlanEstudio</td>
    </tr>
    <tr>
        <th width="10%">Sección</th>
        <td width="9%" style="text-align:center; background-color:#F2E2C4">@Model.Tbl_Seccion.Nombre_Seccion</td>
        <th width="10%">Ciclo</th>
        <td width="9%" style="text-align:center">@Model.Tbl_DetallePlanEstudio.Ciclo_DetallePlanEstudio</td>
        <th width="10%">Horas</th>
        <td width="9%" style="text-align:center">@Model.Tbl_DetallePlanEstudio.TotalHoras_DetallePlanEstudio</td>
        <th width="10%">Créditos</th>
        <td width="9%" style="text-align:center">@Model.Tbl_DetallePlanEstudio.TotalCreditos_DetallePlanEstudio</td>
        <th width="15%">Tipo Curso</th>
        <td width="9%" style="text-align:center">@Model.Tbl_DetallePlanEstudio.TipoCurso_DetallePlanEstudio</td>
    </tr>

    <tr>
        <th colspan="10" style="font-size: 20px;">DOCENTE</th>
    </tr>
    <tr>
        <th colspan="2">Codigo</th>
        <th colspan="8">Nombre</th>
    </tr>
    <tr>
        <td colspan="2" style="text-align:center">@Model.Tbl_Docente.Codigo_Docenteepis</td>
        <td colspan="8">@Model.Tbl_Docente.Nombres_Docente , @Model.Tbl_Docente.Apellidos_Docente</td>
    </tr>
    <tr>
        <th colspan="2">Email</th>
        <td colspan="4">@Model.Tbl_Docente.Correo_Docente</td>
        <th colspan="2">Celular</th>
        <td colspan="2">@Model.Tbl_Docente.TelefonoCelular_Docente</td>

    </tr>
</table>
<br />

<table class="table">
    @foreach (var p in pruebaEntrada)
    {
        if (p.Codigo_DetalleCargaAcademica == Model.Codigo_DetalleCargaAcademica)
        {
            idpruebaEntrada = p.Codigo_PruebaEntrada;
            evaluados = p.Evaluados_PruebaEntrada;
        }
    }
    <tr>
        <th width="15%" style="text-align:center; background-color:#fff">Nº de Estudiantes</th>
        <th width="10%" style="text-align:right; background-color:#fff;">Matriculados:</th>
        <td width="10%" style="text-align:left; background-color:#FFF"><input type="text" style="text-align:center; background-color:#F2E2C4; border: 1px solid #000" value="@Model.Matriculados_DetalleCargaAcademica" size="10" /> </td>
        <th width="10%" style="text-align:right; background-color:#fff">Evaluados:</th>
        <td width="10%" style="text-align:left; background-color:#FFF"><input type="text" style="text-align:center; background-color:#F2E2C4; border: 1px solid #000" value="@evaluados" size="10" /></td>
        <td width="10%"></td>
    </tr>
</table>
<br />

<table border="1" class="table">
    <thead>
        <tr>
            <th width="5%" rowspan="2">#</th>
            <th width="30%" rowspan="2">Conocimientos o habilidades</th>
            <th width="10%" class="text-center" colspan="8">Numero de estudiantes por rango de nota (Nivel alcanzado en %)</th>

        </tr>
        <tr>
            <th width="10%">Deficiente (0 -10)</th>
            <th width="7%">%</th>
            <th width="10%">Suficiente (11 -15)</th>
            <th width="7%">%</th>
            <th width="10%">Bueno (16 -20)</th>
            <th width="7%">%</th>
            <th width="10%">Total %</th>
            <th width="2%">I</th>
        </tr>

    </thead>

    <tbody>
        @{ int num = 0;
            int totald = 0;
            int totals = 0;
            int totalb = 0;
            string nombre = "";
            int d = 0;
            int s = 0;
            int b = 0;
            string nombre1 = "";
            int d1 = 0;
            int s1 = 0;
            int b1 = 0;
            string nombre2 = "";
            int d2 = 0;
            int s2 = 0;
            int b2 = 0;
            string nombre3 = "";
            int d3 = 0;
            int s3 = 0;
            int b3 = 0;
            string nombre4 = "";
            int d4 = 0;
            int s4 = 0;
            int b4 = 0;
            double porcentaje = 100;
            double deficiente = 0;
            double suficiente = 0;
            double bueno = 0;
            double total = 0;
        }
        @foreach (var p in ConocimeintoHabilidad)
        {

            if (p.Codigo_PruebaEntrada == Convert.ToInt32(idpruebaEntrada))
            {
                num = num + 1;
                deficiente = Math.Round(((p.Deficiente_ConocimientoHabilidad * porcentaje) / p.Tbl_PruebaEntrada.Evaluados_PruebaEntrada), 2);
                suficiente = Math.Round(((p.Suficiente_ConocimientoHabilidad * porcentaje) / p.Tbl_PruebaEntrada.Evaluados_PruebaEntrada), 2);
                bueno = Math.Round(((p.Bueno_ConocimientoHabilidad * porcentaje) / p.Tbl_PruebaEntrada.Evaluados_PruebaEntrada), 2);
                total = Math.Round((deficiente + suficiente + bueno), 1);
                <tr>
                    <td style="text-align:center;">@num</td>
                    <td style="background-color:#F2E2C4;">@p.Nombre_ConocimientoHabilidad</td>
                    <td style="background-color:#F2E2C4;text-align:center;">@p.Deficiente_ConocimientoHabilidad</td>
                    <td style="text-align:center;">@deficiente</td>
                    <td style="background-color:#F2E2C4;text-align:center;">@p.Suficiente_ConocimientoHabilidad</td>
                    <td style="text-align:center;">@suficiente</td>
                    <td style="background-color:#F2E2C4;text-align:center;">@p.Bueno_ConocimientoHabilidad</td>
                    <td style="text-align:center;">@bueno</td>
                    <td style="text-align:center;" bgcolor="#43FF52">@total</td>
                    <td style="text-align:center;"> </td>

                    @{totald = totald + p.Deficiente_ConocimientoHabilidad;}
                    @{totals = totals + p.Suficiente_ConocimientoHabilidad;}
                    @{totalb = totalb + p.Bueno_ConocimientoHabilidad;}
                    @{if (num == 1)
                        {
                            d = p.Deficiente_ConocimientoHabilidad;
                            s = p.Suficiente_ConocimientoHabilidad;
                            b = p.Bueno_ConocimientoHabilidad;
                            nombre = p.Nombre_ConocimientoHabilidad;
                        }
                        else if (num == 2)
                        {
                            d1 = p.Deficiente_ConocimientoHabilidad;
                            s1 = p.Suficiente_ConocimientoHabilidad;
                            b1 = p.Bueno_ConocimientoHabilidad;
                            nombre1 = p.Nombre_ConocimientoHabilidad;
                        }

                        else if (num == 3)
                        {
                            d2 = p.Deficiente_ConocimientoHabilidad;
                            s2 = p.Suficiente_ConocimientoHabilidad;
                            b2 = p.Bueno_ConocimientoHabilidad;
                            nombre2 = p.Nombre_ConocimientoHabilidad;
                        }

                        else if (num == 4)
                        {
                            d3 = p.Deficiente_ConocimientoHabilidad;
                            s3 = p.Suficiente_ConocimientoHabilidad;
                            b3 = p.Bueno_ConocimientoHabilidad;
                            nombre3 = p.Nombre_ConocimientoHabilidad;
                        }

                        else
                        {
                            d4 = p.Deficiente_ConocimientoHabilidad;
                            s4 = p.Suficiente_ConocimientoHabilidad;
                            b4 = p.Bueno_ConocimientoHabilidad;
                            nombre4 = p.Nombre_ConocimientoHabilidad;
                        }
                    }
                </tr>
            }

        }
    </tbody>
</table>
<br />
<table class="table">
    <tr>
        <td><strong>LEYENDA:</strong></td>
        <td>Si la columna del Indicador es de <b><font color="green">color verde</font></b> capacidad alcanzada</td>
    </tr>
    <tr>
        <td></td>
        <td>Si la columna del Indicador es de <b><font color="orange">color naranja</font></b>no necesariamente requiere acción de mejora</td>
    </tr>
    <tr>
        <td></td>
        <td>Si la columna del Indicador es de <b><font color="red">color rojo</font></b> requiere acción de mejora</td>
    </tr>
</table>
<br />
<table border="1" class="table">
    @foreach (var p in ConocimeintoHabilidad)
    {

        if (p.Codigo_PruebaEntrada == Convert.ToInt32(idpruebaEntrada))
        {
            num = num + 1;
            deficiente = Math.Round(((p.Deficiente_ConocimientoHabilidad * porcentaje) / p.Tbl_PruebaEntrada.Evaluados_PruebaEntrada), 2);
            suficiente = Math.Round(((p.Suficiente_ConocimientoHabilidad * porcentaje) / p.Tbl_PruebaEntrada.Evaluados_PruebaEntrada), 2);
            bueno = Math.Round(((p.Bueno_ConocimientoHabilidad * porcentaje) / p.Tbl_PruebaEntrada.Evaluados_PruebaEntrada), 2);
            total = Math.Round((deficiente + suficiente + bueno), 1);
            <tr>
                <td style="width:@deficiente %;">@p.Deficiente_ConocimientoHabilidad</td>
                <td style="width:@suficiente %;">@p.Suficiente_ConocimientoHabilidad</td>
                <td style="width:@bueno %;">@p.Bueno_ConocimientoHabilidad</td>
            </tr>
        }
    }

</table>

<br />
@foreach (var medida in ListaMedidasCorrectivas)
{
    if (idpruebaEntrada == medida.Codigo_PruebaEntrada)
    {
        <table class="table">
            <tr>
                <td colspan="4"><strong>Medidas correctivas que ha tomado en los casos de grado <b><font color="red">"deficiente"</font></b>. Marque con (X) las acciones realizadas:</strong></td>
            </tr>
            <tr>
                <td width="40%">1. Repaso en horas de clase</td>
                <td width="10%"><input type="text" style="text-align:center; background-color:#F2E2C4; border: 1px solid #000" value="@(medida.Medida1_MedidasCorrectivas == true ? "X" : "")" size="5" /></td>
                <td width="5%"> </td>
                <td width="35%">4. Entrega de material de repaso</td>
                <td width="10%"><input type="text" style="text-align:center; background-color:#F2E2C4; border: 1px solid #000" value="@(medida.Medida4_MedidasCorrectivas == true ? "X" : "")" size="5" /></td>
            </tr>
            <tr>
                <td width="40%">2. Repaso con horas adicionales de clase</td>
                <td width="10%"><input type="text" style="text-align:center; background-color:#F2E2C4; border: 1px solid #000" value="@(medida.Medida2_MedidasCorrectivas == true ? "X" : "")" size="5" /></td>
                <td width="5%"> </td>
                <td width="35%">5. Recomendación de bibliografía</td>
                <td width="10%"><input type="text" style="text-align:center; background-color:#F2E2C4; border: 1px solid #000" value="@(medida.Medida5_MedidasCorrectivas == true ? "X" : "")" size="5" /></td>
            </tr>
            <tr>
                <td width="40%">3. Ejercicios propuestos para resolver en casa </td>
                <td width="10%"><input type="text" style="text-align:center; background-color:#F2E2C4; border: 1px solid #000" value="@(medida.Medida3_MedidasCorrectivas == true ? "X" : "")" size="5" /></td>
                <td width="5%"> </td>
                <td width="35%">6. Otros (Detalle en la descripción) </td>
                <td width="10%"><input type="text" style="text-align:center; background-color:#F2E2C4; border: 1px solid #000" value="@(medida.Medida6_MedidasCorrectivas == true ? "X" : "")" size="5" /></td>
            </tr>
            <tr>
                <td colspan="5">Describa otras medidas correctivas y/o recomendaciones.</td>
            </tr>
            <tr>
                <td colspan="5"><textarea style="background-color:#F2E2C4;" name="textarea" rows="5" cols="110">@medida.Medida7_MedidasCorrectivas</textarea></td>

            </tr>
        </table>
    }
}

<p> Fecha: @DateTime.Parse((DateTime.Now).ToString()).ToShortDateString()</p>
<br /><br />


<center><p>___________________________________</p></center>
<center><p> @Model.Tbl_Docente.Nombres_Docente , @Model.Tbl_Docente.Apellidos_Docente</p></center>