@model PortafolioEPIS.Models.Tbl_DetalleCargaAcademica
@{
    Layout = null;
    ViewBag.Title = "ListaPDFPortafolioU2";
    List<PortafolioEPIS.Models.Tbl_PruebaEntrada> pruebaEntrada = ViewBag.Prueba;
    List<PortafolioEPIS.Models.Tbl_Portafolio> Portafolio = ViewBag.Portafolio;
    List<PortafolioEPIS.Models.Tbl_Material> listaMaterial = ViewBag.ListarEvidencia;
    int idCodigoPortafolio = 0;
    int evaluados = 0;
}

<meta name="viewport" content="width=device-width" />
<title>Lista PDF PortafolioU1</title>
<link href="~/assets/Informes/portafolio.css" rel="stylesheet" />

<table>
    <tr>
        <td rowspan="2"><img src="~/assets/Informes/logo_pdf.PNG" width="220" height="60" /></td>
    </tr>
</table>
<span><h2><strong><u>MATERIALES A CONSIGNAR PARA EL PORTAFOLIO</u></strong></h2></span>
<span><h2><strong><u>II UNIDAD</u></strong></h2></span>

<table>
    <tr>
        <th width="19%" style="text-align:left">Codigo del Curso:</th>
        <td width="15%"><input type="text" style="text-align:center; background-color:#F2E2C4; border: 1px solid #000" value="@Model.Tbl_DetallePlanEstudio.CodigoCurso_DetallePlanEstudio" size="15" /></td>
        <th width="18%" style="text-align:right">Seccion:</th>
        <td width="15%"><input type="text" style="text-align:center; background-color:#F2E2C4; border: 1px solid #000" value="@Model.Tbl_Seccion.Nombre_Seccion" size="15" /></td>
        <th width="18%" style="text-align:right">Ciclo:</th>
        <td width="15%"><input type="text" style="text-align:center; background-color:#FFF; border: 1px solid #000" value="@Model.Tbl_DetallePlanEstudio.Ciclo_DetallePlanEstudio" size="15" /></td>
    </tr>
    <tr>
        <th width="19%" style="text-align:left">Nombre del Curso:</th>
        <td colspan="5"><input type="text" style=" background-color:#FFF; border: 1px solid #000; width:100%;" value="@Model.Tbl_DetallePlanEstudio.Asignatura_DetallePlanEstudio" /></td>
    </tr>
    <tr>
        <th width="19%" style="text-align:left">Horas:</th>
        <td width="15%"><input type="text" style="text-align:center; background-color:#FFF; border: 1px solid #000" value="@Model.Tbl_DetallePlanEstudio.TotalHoras_DetallePlanEstudio" size="15" /></td>
        <th width="18%" style="text-align:right">Créditos:</th>
        <td width="15%"><input type="text" style="text-align:center; background-color:#FFF; border: 1px solid #000" value="@Model.Tbl_DetallePlanEstudio.TotalCreditos_DetallePlanEstudio" size="15" /></td>
        <th width="18%" style="text-align:right">Tipo Curso:</th>
        <td width="15%"><input type="text" style="text-align:center; background-color:#FFF; border: 1px solid #000" value="@Model.Tbl_DetallePlanEstudio.TipoCurso_DetallePlanEstudio" size="15" /></td>
    </tr>
    <tr>
        <th width="19%" style="text-align:left">Docente:</th>
        <td colspan="5"><input type="text" style=" background-color:#FFF; border: 1px solid #000; width:100%;" value="@Model.Tbl_Docente.Nombres_Docente , @Model.Tbl_Docente.Apellidos_Docente" /></td>
    </tr>
</table>
<table class="table">
    <tr>
        <td>
            <div id="lateral">
                <table>
                    <tr>
                        <th width="23%" style="text-align:left;background-color:#FFF;">Semestre:</th>
                        <td width="15%"><input type="text" style="text-align:center; background-color:#F2E2C4; border: 1px solid #000" value="@Model.Tbl_Semestre.Nombre_Semestre" size="15" /></td>
                        <th width="18%" style="text-align:right;background-color:#FFF;"></th>
                    </tr>
                </table>
                <strong>Resumen del Curso para la Unidad:</strong>
                @{
                    int retirados = 0;
                    int abandono = 0;
                    int aprobados = 0;
                    int asisten = 0;
                    asisten = (Model.Matriculados_DetalleCargaAcademica - @retirados - @abandono);
                }
                @foreach (var p in Portafolio)
                {
                    if (p.Codigo_DetalleCargaAcademica == Model.Codigo_DetalleCargaAcademica && p.Unidad_Portafolio == "UII")
                    {
                        idCodigoPortafolio = p.Codigo_Portafolio;
                        retirados = int.Parse((p.Retirados_Portafolio).ToString());
                        abandono = int.Parse((p.Abandono_Portafolio).ToString());
                        aprobados = int.Parse((p.Aprobados_Portafolio).ToString());
                    }
                }
                <table border="1" class="table">
                    <tr>
                        <th>Estudiantes</th>
                        <th>Cantidad</th>
                        <th>Porcentaje</th>
                    </tr>
                    <tr>
                        <td>Matriculados</td>
                        <td style="text-align:center;background-color:#F2E2C4;">@Model.Matriculados_DetalleCargaAcademica</td>
                        <td style="text-align:center;">100%</td>
                    </tr>

                    <tr>
                        <td>Retirados</td>
                        <td style="text-align:center;background-color:#F2E2C4;">@retirados</td>
                        <td style="text-align:center;">@(Math.Round((Convert.ToDouble(retirados) * 100) / Convert.ToDouble(Model.Matriculados_DetalleCargaAcademica), 2))</td>
                    </tr>
                    <tr>
                        <td>Abandono</td>
                        <td style="text-align:center;background-color:#F2E2C4;">@abandono</td>
                        <td style="text-align:center;">@(Math.Round((Convert.ToDouble(abandono) * 100) / Convert.ToDouble(Model.Matriculados_DetalleCargaAcademica), 2))</td>
                    </tr>
                    <tr>
                        <td>Asisten</td>
                        <td style="text-align:center;">@asisten</td>
                        <td style="text-align:center;">@(Math.Round((Convert.ToDouble(asisten) * 100) / Convert.ToDouble(Model.Matriculados_DetalleCargaAcademica), 2))</td>
                    </tr>
                    <tr>
                        <td>Aprobados</td>
                        <td style="text-align:center;background-color:#F2E2C4;">@aprobados</td>
                        <td style="text-align:center;">@(Math.Round((Convert.ToDouble(aprobados) * 100) / Convert.ToDouble(Model.Matriculados_DetalleCargaAcademica), 2))</td>
                    </tr>
                    <tr>
                        <td>Desaprobados</td>
                        <td style="text-align:center;">@(asisten - aprobados)</td>
                        <td style="text-align:center;">@(Math.Round((Convert.ToDouble(asisten - aprobados) * 100) / Convert.ToDouble(Model.Matriculados_DetalleCargaAcademica), 2))</td>
                    </tr>
                </table>
            </div>
        </td>
        <td>
            <div id="principal">
                <table class="table">
                    <tr>
                        <td>
                            <img src="~/assets/Informes/asistencia_estudiantes.png" style="min-width: 200px; height: 300px; max-width: 400px; margin: 0 auto" />
                        </td>
                    </tr>

                </table>
            </div>
        </td>
    </tr>
</table>

<table class="table">
    <tr>
        <td>
            <img src="~/assets/Informes/situacion-general.png" style="min-width: 350px; height: 250px; max-width: 400px; margin: 0 auto" />
        </td>

        <td>
            <img src="~/assets/Informes/rendimiento.png" style="min-width: 300px; height: 250px; max-width: 400px; margin: 0 auto" />
        </td>

    </tr>
</table>





<table class="table2">
    <tr>
        <td><strong>I. Material que el docente prepara y entrega a los estudiantes durante la ejecución de los cursos:</strong></td>
    </tr>
    <tr>
        <td><p>El material deberá estar asociado a los resultados del aprendizaje definidos en la planificación del curso</p></td>
    </tr>
    <tr>
        <td><p><font color="red">(Marcar con un X en las columnas <b>Digital</b> y/o <b>Impreso</b> siempre y cuando tenga evidencia)</font></p></td>
    </tr>
</table>
<table class="table" border="1">
    <tr>
        <th width="5%">#</th>
        <th width="50%">Material Docente Entregado</th>
        <th width="15%">Tipo</th>
        <th width="15%">Cantidad</th>
        <th width="20%">Evidencia</th>
    </tr>
    @foreach (var list in listaMaterial)
    {
        if (list.Tipo_Material == "DOCENTEUII" && list.Codigo_Portafolio == idCodigoPortafolio)
        {
            <tr>
                <td>1</td>
                <td>@list.Nombre_Material1</td>
                <td style="text-align:center;">@list.Estado_Material1</td>
                <td style="text-align:center;">@list.Cantidad_Material1</td>
                <td>@list.Archivo_Material1</td>
            </tr>
            <tr>
                <td>2</td>
                <td>@list.Nombre_Material2</td>
                <td style="text-align:center;">@list.Estado_Material2</td>
                <td style="text-align:center;">@list.Cantidad_Material2</td>
                <td>@list.Archivo_Material2</td>
            </tr>
            <tr>
                <td>3</td>
                <td>@list.Nombre_Material3</td>
                <td style="text-align:center;">@list.Estado_Material3</td>
                <td style="text-align:center;">@list.Cantidad_Material3</td>
                <td>@list.Archivo_Material3</td>
            </tr>
            <tr>
                <td>4</td>
                <td>@list.Nombre_Material4</td>
                <td style="text-align:center;">@list.Estado_Material4</td>
                <td style="text-align:center;">@list.Cantidad_Material4</td>
                <td>@list.Archivo_Material4</td>
            </tr>
            <tr>
                <td>5</td>
                <td>@list.Nombre_Material5</td>
                <td style="text-align:center;">@list.Estado_Material5</td>
                <td style="text-align:center;">@list.Cantidad_Material5</td>
                <td>@list.Archivo_Material5</td>
            </tr>
            <tr>
                <td>6</td>
                <td>@list.Nombre_Material6</td>
                <td style="text-align:center;">@list.Estado_Material6</td>
                <td style="text-align:center;">@list.Cantidad_Material6</td>
                <td>@list.Archivo_Material6</td>
            </tr>
            <tr>
                <td>7</td>
                <td>@list.Nombre_Material7</td>
                <td style="text-align:center;">@list.Estado_Material7</td>
                <td style="text-align:center;">@list.Cantidad_Material7</td>
                <td>@list.Archivo_Material7</td>
            </tr>
            <tr>
                <td>8</td>
                <td>@list.Nombre_Material8</td>
                <td style="text-align:center;">@list.Estado_Material8</td>
                <td style="text-align:center;">@list.Cantidad_Material8</td>
                <td>@list.Archivo_Material8</td>
            </tr>
            <tr>
                <td>9</td>
                <td>@list.Nombre_Material9</td>
                <td style="text-align:center;">@list.Estado_Material9</td>
                <td style="text-align:center;">@list.Cantidad_Material9</td>
                <td>@list.Archivo_Material9</td>
            </tr>
            <tr>
                <td>10</td>
                <td>@list.Nombre_Material10</td>
                <td style="text-align:center;">@list.Estado_Material10</td>
                <td style="text-align:center;">@list.Cantidad_Material10</td>
                <td>@list.Archivo_Material10</td>
            </tr>
        }
    }
</table>
<br />
<table class="table2">
    <tr>
        <td><strong>II. Material generado por el estudiante en el transcurso del semestre: </strong></td>
    </tr>
    <tr>
        <td>
            <p>
                El material deberá estar asociado a los resultados del aprendizaje definidos en la planificacion del curso.
            </p>
        </td>
    </tr>
    <tr>
        <td><p><font color="red">(Marcar con un X en las columnas <b>Digital</b> y/o <b>Impreso</b> siempre y cuando tenga evidencia)</font></p></td>
    </tr>
</table>
<table class="table" border="1">
    <tr>
        <th width="5%">#</th>
        <th width="50%">Material Docente Entregado</th>
        <th width="15%">Tipo</th>
        <th width="15%">Cantidad</th>
        <th width="20%">Evidencia</th>
    </tr>

    @foreach (var list1 in listaMaterial)
    {
        if (list1.Tipo_Material == "ESTUDIANTEUII" && list1.Codigo_Portafolio == idCodigoPortafolio)
        {

            <tr>
                <td>1</td>
                <td>@list1.Nombre_Material1</td>
                <td style="text-align:center;">@list1.Estado_Material1</td>
                <td style="text-align:center;">@list1.Cantidad_Material1</td>
                <td>@list1.Archivo_Material1</td>
            </tr>
            <tr>
                <td>2</td>
                <td>@list1.Nombre_Material2</td>
                <td style="text-align:center;">@list1.Estado_Material2</td>
                <td style="text-align:center;">@list1.Cantidad_Material2</td>
                <td>@list1.Archivo_Material2</td>
            </tr>
            <tr>
                <td>3</td>
                <td>@list1.Nombre_Material3</td>
                <td style="text-align:center;">@list1.Estado_Material3</td>
                <td style="text-align:center;">@list1.Cantidad_Material3</td>
                <td>@list1.Archivo_Material3</td>
            </tr>
            <tr>
                <td>4</td>
                <td>@list1.Nombre_Material4</td>
                <td style="text-align:center;">@list1.Estado_Material4</td>
                <td style="text-align:center;">@list1.Cantidad_Material4</td>
                <td>@list1.Archivo_Material4</td>
            </tr>
            <tr>
                <td>5</td>
                <td>@list1.Nombre_Material5</td>
                <td style="text-align:center;">@list1.Estado_Material5</td>
                <td style="text-align:center;">@list1.Cantidad_Material5</td>
                <td>@list1.Archivo_Material5</td>
            </tr>
            <tr>
                <td>6</td>
                <td>@list1.Nombre_Material6</td>
                <td style="text-align:center;">@list1.Estado_Material6</td>
                <td style="text-align:center;">@list1.Cantidad_Material6</td>
                <td>@list1.Archivo_Material6</td>
            </tr>
        }
    }

</table>

<p> Fecha: @DateTime.Parse((DateTime.Now).ToString()).ToShortDateString()</p>
<br /><br />


<center><p>___________________________________</p></center>
<center><p> @Model.Tbl_Docente.Nombres_Docente , @Model.Tbl_Docente.Apellidos_Docente</p></center>
