@model PortafolioEPIS.Models.Tbl_CapacidadesCurso
@{
    ViewBag.Title = "AgregarCapacidadCurso";
    Layout = null;
}
@using (Html.BeginForm("GuardarCapacidadCurso", "InformeFinal", FormMethod.Post, new { id = "frm-CapacidadesCurso" }))
{
    @Html.HiddenFor(x => x.Codigo_CapacidadesCurso)
    <input type="text" name="Codigo_InformeFinal" value="@ViewBag.idInformeFinal" hidden />
    <input type="text" name="idPruebaDoc" value="@ViewBag.idPruebaDoc" hidden />
<div class="modal-body">
    <div class="row clearfix">
        <div class="col-md-12">
            @Html.Label("Nombre:")
            <div class="form-group">

                @*<input type="text" name="idprueba" id="idprueba" value="@idpruebas" class="form-control floating" hidden>*@
              
                @Html.TextAreaFor(x => x.Descripcion_CapacidadesCurso, new { @class = "form-control"})
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12">
            <strong>@Html.Label("Nivel Alcanzado:")</strong>
        </div>
        
            <div class="col-md-6">
                <div class="radio">
                    <label>
                        <input type="radio" value="1" name="radio" /> Nada
                       

                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" value="2" name="radio" /> Poco

                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" value="3" name="radio" /> Aceptable
                    </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="radio">
                    <label>
                        <input type="radio" value="4" name="radio" /> Bien
                       
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" value="5" name="radio" /> Muy Bien
                      
                    </label>
                </div>
            </div>
        

    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
    <button class="btn btn-primary btn-rounded" style='width:100px; height:35px' type="submit"><i class="fa fa-check"></i> Guardar</button>
</div>
}