@model PortafolioEPIS.Models.Tbl_DetalleCargaAcademica
@{
    Layout = null;
    List<PortafolioEPIS.Models.Tbl_InformeFinal> prueba = ViewBag.Prueba;
    List<PortafolioEPIS.Models.Tbl_Portafolio> portafolio = ViewBag.Portafolio;


    ViewBag.Title = "ListaPDFInformeFinal";
    int idpruebas = 0;
    int codigoportafolio = 0;

    ///tabla portafolio
    int retirados = 0;
    int abandonos = 0;
    int aprobados = 0;
    //tabla informefinal
    int detallecarga = 0;
    int porcentajesilabo = 0;
    int practicascalificadas = 0;
    int laboratoriosrealizados = 0;
    int trabajosrealizados = 0;
    int codigoportafo = 0;
    int estudiantesmatriculados = 0;
    int estudiantesretiro = 0;
    int estudiantesabandono = 0;
    int estudiantesasisten = 0;
    int estudiantesaprobados = 0;
    int estudiantesdesaprobados = 0;
    int notamasalta = 0;
    int notapromedio = 0;
    int notamasbaja = 0;
}

<h2>ListaPDFInformeFinal</h2>


<h2 class="text-center"><strong>Informe Final</strong></h2>
<div class="table-responsive">
    <div class="row clearfix">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page"><strong>INFORMACION DE CURSO</strong></li>
                </ol>
            </nav>
        </div>
    </div>
    <table border="1" class="table">
        <tr>
            <th colspan="2">Codigo</th>
            <th colspan="8">Nombre</th>
        </tr>
        <tr>
            <td colspan="2">@Model.Tbl_DetallePlanEstudio.CodigoCurso_DetallePlanEstudio</td>
            <td colspan="8">@Model.Tbl_DetallePlanEstudio.Asignatura_DetallePlanEstudio</td>
        </tr>
        <tr>
            <th>Sección</th>
            <td>@Model.Tbl_Seccion.Nombre_Seccion</td>
            <th>Ciclo</th>
            <td>@Model.Tbl_DetallePlanEstudio.Ciclo_DetallePlanEstudio</td>
            <th>Horas</th>
            <td>@Model.Tbl_DetallePlanEstudio.TotalHoras_DetallePlanEstudio</td>
            <th>Créditos</th>
            <td>@Model.Tbl_DetallePlanEstudio.TotalCreditos_DetallePlanEstudio</td>
            <th>Tipo Curso</th>
            <td>@Model.Tbl_DetallePlanEstudio.TipoCurso_DetallePlanEstudio</td>
        </tr>
    </table>
    <div class="row clearfix">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page"><strong>INFORMACION DEL DOCENTE</strong></li>
                </ol>
            </nav>
        </div>
    </div>
    <table border="1" class="table">
        <tr>
            <th colspan="2">Codigo</th>
            <th colspan="8">Nombre</th>
        </tr>
        <tr>
            <td colspan="2">@Model.Tbl_Docente.Codigo_Docenteepis</td>
            <td colspan="8">@Model.Tbl_Docente.Nombres_Docente , @Model.Tbl_Docente.Apellidos_Docente</td>
        </tr>
        <tr>
            <th colspan="2">Email</th>
            <td colspan="4">@Model.Tbl_Docente.Correo_Docente</td>
            <th colspan="2">Celular</th>
            <td colspan="2">@Model.Tbl_Docente.TelefonoCelular_Docente</td>

        </tr>
    </table>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Item</th>
                <th class="text-center">Cantidad</th>
                <th class="text-center">Porcentaje</th>
            </tr>
        </thead>


        <!-- Modal / Ventana / Overlay en HTML -->
        @foreach (var p in prueba)
        {
            if (p.Codigo_DetalleCargaAcademica == Model.Codigo_DetalleCargaAcademica)
            {


                idpruebas = p.Codigo_InformeFinal;
                detallecarga = p.Codigo_DetalleCargaAcademica;
                porcentajesilabo = Convert.ToInt32(p.PorcentajeSilabo_InformeFinal);
                practicascalificadas = Convert.ToInt32(p.PracticasCalificadas_InformeFinal);
                laboratoriosrealizados = Convert.ToInt32(p.LaboratoriosRealizados_InformeFinal);
                trabajosrealizados = Convert.ToInt32(p.TrabajosRealizados_InformeFinal);
                //codigoportafo = p.Codigo_Portafolio;
                estudiantesmatriculados = Convert.ToInt32(p.EstudiantesMatriculados_InformeFinal);
                estudiantesretiro = Convert.ToInt32(p.EstudiantesRetiro_InformeFinal);
                estudiantesabandono = Convert.ToInt32(p.EstudiantesAbandono_InformeFinal);
                estudiantesasisten = Convert.ToInt32(p.EstudiantesAsisten_InformeFinal);
                estudiantesaprobados = Convert.ToInt32(p.EstudiantesAprobados_InformeFinal);
                estudiantesdesaprobados = Convert.ToInt32(p.EstudiantesDesaprobados_InformeFinal);
                notamasalta = Convert.ToInt32(p.NotaAlta_InformeFinal);
                notapromedio = Convert.ToInt32(p.NotaPromedio_InformeFinal);
                notamasbaja = Convert.ToInt32(p.NotaBaja_InformeFinal);


            }
        }

        <tbody>
            <tr>

                <td>1</td>
                <td>Porcentaje de cumplimiento del sílabo</td>
                <td><input type="text" name="porcentajesilabo" id="porcentajesilabo" class="form-control text-center" value="@porcentajesilabo"></td>
                <td class="text-center">80%</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Practicas calificada realizadas</td>
                <td><input type="text" name="practicasrealizadas" id="practicasrealizadas" class="form-control text-center" value="@practicascalificadas"></td>
                <td class="text-center">100%</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Experiencias de laboratorio realizadas</td>
                <td><input type="text" name="experienciaslaboratorio" id="experienciaslaboratorio" class="form-control text-center" value="@laboratoriosrealizados"></td>
                <td class="text-center">100%</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Proyectos y/o trabajos de realizados</td>
                <td><input type="text" name="proyectosrealizados" id="proyectosrealizados" class="form-control text-center" value="@trabajosrealizados"></td>
                <td class="text-center">100%</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Estudiantes Matriculados</td>
                <td><input type="text" name="matriculados" id="matriculados" readonly class="form-control text-center" value="@Model.Matriculados_DetalleCargaAcademica"></td>
                <td class="text-center">100%</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Estudiantes con retiro</td>
                <td><input type="text" onKeyUp="Suma()" name="estudiantesretiro" id="estudiantesretiro" class="form-control text-center" value="@estudiantesretiro"></td>
                <td class="text-center">6.7%</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Estudiantes en abandono</td>
                <td><input type="text" onKeyUp="Suma()" name="estudiantesabandono" id="estudiantesabandono" class="form-control text-center" value="@estudiantesabandono"></td>
                <td class="text-center">10%</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Estudiantes que asisten</td>
                <td><input type="text" onKeyUp="calaprobados()" name="estudiantesasistentes" id="estudiantesasistentes" readonly class="form-control text-center" value="@estudiantesasisten"></td>
                <td class="text-center">83.3%</td>
            </tr>
            <tr>
                <td>9</td>
                <td>Estudiantes Aprobados</td>
                <td><input type="text" onKeyUp="calaprobados()" name="estudiantesaprobados" id="estudiantesaprobados" class="form-control text-center" value="@estudiantesaprobados"></td>
                <td class="text-center">50%</td>
            </tr>
            <tr>
                <td>10</td>
                <td>Estudiantes Desaprobados</td>
                <td><input type="text" name="estudiantesdesaprobados" id="estudiantesdesaprobados" readonly class="form-control text-center" value="@estudiantesdesaprobados"></td>
                <td class="text-center">33.3%</td>
            </tr>
            <tr>
                <td>11</td>
                <td>Nota final mas alta</td>
                <td><input type="text" name="notamasalta" id="notamasalta" class="form-control text-center" value="@notamasalta"></td>
                <td class="text-center"></td>
            </tr>
            <tr>
                <td>12</td>
                <td>Nota final promedio</td>
                <td><input type="text" name="notapromedio" id="notapromedio" class="form-control text-center" value="@notapromedio"></td>
                <td class="text-center"></td>
            </tr>
            <tr>
                <td>13</td>
                <td>Nota final mas baja</td>
                <td><input type="text" name="notamasbaja" id="notamasbaja" class="form-control text-center" value="@notamasbaja"></td>
                <td class="text-center"></td>
            </tr>
        </tbody>

    </table>

