@model PortafolioEPIS.Models.Tbl_DetalleCargaAcademica
@{
    /**/

    Layout = null;
    List<PortafolioEPIS.Models.Tbl_InformeFinal> prueba = ViewBag.Prueba;
    List<PortafolioEPIS.Models.Tbl_Portafolio> portafolio = ViewBag.Portafolio;
    List<PortafolioEPIS.Models.Tbl_CapacidadesCurso> CapacidadesCurso = ViewBag.CapacidadesCurso;
    List<PortafolioEPIS.Models.Tbl_Observaciones> observaciones = ViewBag.ListarObservaciones;


    ViewBag.Title = "ListaPDFInformeFinal";
    int idpruebas = 0;
    int codigoportafolio = 0;

    ///tabla portafolio
    int retirados = 0;
    int abandonos = 0;
    int aprobados = 0;
    //tabla informefinal
    int detallecarga = 0;
    int porcentajesilabo = 0;
    int practicascalificadas = 0;
    int laboratoriosrealizados = 0;
    int trabajosrealizados = 0;
    int codigoportafo = 0;
    int estudiantesmatriculados = 0;
    int estudiantesretiro = 0;
    int estudiantesabandono = 0;
    int estudiantesasisten = 0;
    int estudiantesaprobados = 0;
    int estudiantesdesaprobados = 0;
    int notamasalta = 0;
    int notapromedio = 0;
    int notamasbaja = 0;
}

<link href="~/assets/Informes/portafolio.css" rel="stylesheet" />

<table>
    <tr>
        <td rowspan="2"><img src="~/assets/Informes/logo_pdf.PNG" width="220" height="60" /></td>
    </tr>
</table>
<span><h2><strong><u>INFORME FINAL DEL CURSO</u></strong></h2></span>
<span><h2><strong><u>@Model.Tbl_CargaAcademica.Tbl_Semestre.Nombre_Semestre</u></strong></h2></span>

<table>
    <tr>
        <th width="19%" style="text-align:left">Codigo del Curso:</th>
        <td width="15%"><input type="text" style="text-align:center; background-color:#F2E2C4; border: 1px solid #000" value="@Model.Tbl_DetallePlanEstudio.CodigoCurso_DetallePlanEstudio" size="15" /></td>
        <th width="18%" style="text-align:right">Seccion:</th>
        <td width="15%"><input type="text" style="text-align:center; background-color:#F2E2C4; border: 1px solid #000" value="@Model.Tbl_Seccion.Nombre_Seccion" size="15" /></td>
        <th width="18%" style="text-align:right">Ciclo:</th>
        <td width="15%"><input type="text" style="text-align:center; background-color:#FFF; border: 1px solid #000" value="@Model.Tbl_DetallePlanEstudio.Ciclo_DetallePlanEstudio" size="15" /></td>
    </tr>
    <tr>
        <th width="19%" style="text-align:left">Nombre del Curso:</th>
        <td colspan="5"><input type="text" style=" background-color:#FFF; border: 1px solid #000; width:100%;" value="@Model.Tbl_DetallePlanEstudio.Asignatura_DetallePlanEstudio" /></td>
    </tr>
    <tr>
        <th width="19%" style="text-align:left">Horas:</th>
        <td width="15%"><input type="text" style="text-align:center; background-color:#FFF; border: 1px solid #000" value="@Model.Tbl_DetallePlanEstudio.TotalHoras_DetallePlanEstudio" size="15" /></td>
        <th width="18%" style="text-align:right">Créditos:</th>
        <td width="15%"><input type="text" style="text-align:center; background-color:#FFF; border: 1px solid #000" value="@Model.Tbl_DetallePlanEstudio.TotalCreditos_DetallePlanEstudio" size="15" /></td>
        <th width="18%" style="text-align:right">Tipo Curso:</th>
        <td width="15%"><input type="text" style="text-align:center; background-color:#FFF; border: 1px solid #000" value="@Model.Tbl_DetallePlanEstudio.TipoCurso_DetallePlanEstudio" size="15" /></td>
    </tr>
    <tr>
        <th width="19%" style="text-align:left">Docente:</th>
        <td colspan="5"><input type="text" style=" background-color:#FFF; border: 1px solid #000; width:100%;" value="@Model.Tbl_Docente.Nombres_Docente , @Model.Tbl_Docente.Apellidos_Docente" /></td>
    </tr>
</table>

<table class="table">
    <tr>
        <td>
            <table>
                <tr>
                    <th width="23%" style="text-align:left;background-color:#FFF;">Semestre:</th>
                    <td width="15%"><input type="text" style="text-align:center; background-color:#F2E2C4; border: 1px solid #000" value="@Model.Tbl_Semestre.Nombre_Semestre" size="15" /></td>
                    <th width="18%" style="text-align:right;background-color:#FFF;"></th>
                </tr>
            </table>
            <strong>Resumen del Curso para la Unidad:</strong>

            @foreach (var p in prueba)
            {
                if (p.Codigo_DetalleCargaAcademica == Model.Codigo_DetalleCargaAcademica)
                {


                    idpruebas = p.Codigo_InformeFinal;
                    detallecarga = p.Codigo_DetalleCargaAcademica;
                    porcentajesilabo = Convert.ToInt32(p.PorcentajeSilabo_InformeFinal);
                    practicascalificadas = Convert.ToInt32(p.PracticasCalificadas_InformeFinal);
                    laboratoriosrealizados = Convert.ToInt32(p.LaboratoriosRealizados_InformeFinal);
                    trabajosrealizados = Convert.ToInt32(p.TrabajosRealizados_InformeFinal);
                    //codigoportafo = p.Codigo_Portafolio;
                    estudiantesmatriculados = Convert.ToInt32(p.EstudiantesMatriculados_InformeFinal);
                    estudiantesretiro = Convert.ToInt32(p.EstudiantesRetiro_InformeFinal);
                    estudiantesabandono = Convert.ToInt32(p.EstudiantesAbandono_InformeFinal);
                    estudiantesasisten = Convert.ToInt32(p.EstudiantesAsisten_InformeFinal);
                    estudiantesaprobados = Convert.ToInt32(p.EstudiantesAprobados_InformeFinal);
                    estudiantesdesaprobados = Convert.ToInt32(p.EstudiantesDesaprobados_InformeFinal);
                    notamasalta = Convert.ToInt32(p.NotaAlta_InformeFinal);
                    notapromedio = Convert.ToInt32(p.NotaPromedio_InformeFinal);
                    notamasbaja = Convert.ToInt32(p.NotaBaja_InformeFinal);


                }
            }
            <table border="1" class="table">
                <tr>
                    <th>Estudiantes</th>
                    <th>Cantidad</th>
                    <th>Porcentaje</th>
                </tr>
                <tr>
                    <td>Porcentaje de cumplimiento del silabo </td>
                    <td style="text-align:center;background-color:#F2E2C4;">@porcentajesilabo</td>
                    <td style="text-align:center;">@(Math.Round((Convert.ToDouble(porcentajesilabo) * 100) / Convert.ToDouble(100), 2)) %</td>
                </tr>
                <tr>
                    <td>Practicas calificadas realizadas </td>
                    <td style="text-align:center;background-color:#F2E2C4;">@practicascalificadas</td>
                    <td style="text-align:center;">100 %</td>
                </tr>
                <tr>
                    <td>Experiencias de laboratorio realizadas  </td>
                    <td style="text-align:center;background-color:#F2E2C4;">@laboratoriosrealizados</td>
                    <td style="text-align:center;">100%</td>
                </tr>
                <tr>
                    <td>Proyectos y/o trabajos de  realizados   </td>
                    <td style="text-align:center;background-color:#F2E2C4;">@trabajosrealizados</td>
                    <td style="text-align:center;">100 %</td>
                </tr>
                <tr>
                    <td>Estudiantes matriculados</td>
                    <td style="text-align:center;background-color:#F2E2C4;">@Model.Matriculados_DetalleCargaAcademica</td>
                    <td style="text-align:center;">100 %</td>
                </tr>
                <tr>
                    <td>Estudiantes con retiro  </td>
                    <td style="text-align:center;background-color:#F2E2C4;">@estudiantesretiro</td>
                    <td style="text-align:center;">@(Math.Round((Convert.ToDouble(estudiantesretiro) * 100) / Convert.ToDouble(Model.Matriculados_DetalleCargaAcademica), 2)) %</td>
                </tr>
                <tr>
                    <td>Estudiantes en abandono  </td>
                    <td style="text-align:center;background-color:#F2E2C4;">@estudiantesabandono</td>
                    <td style="text-align:center;">@(Math.Round((Convert.ToDouble(estudiantesabandono) * 100) / Convert.ToDouble(Model.Matriculados_DetalleCargaAcademica), 2)) %</td>
                </tr>
                <tr>
                    <td>Estudiantes que asisten </td>
                    <td style="text-align:center;background-color:#F2E2C4;">@estudiantesasisten</td>
                    <td style="text-align:center;">@(Math.Round((Convert.ToDouble(estudiantesasisten) * 100) / Convert.ToDouble(Model.Matriculados_DetalleCargaAcademica), 2)) %</td>
                </tr>

                <tr>
                    <td>Estudiantes aprobados </td>
                    <td style="text-align:center;background-color:#F2E2C4;">@estudiantesaprobados</td>
                    <td style="text-align:center;">@(Math.Round((Convert.ToDouble(estudiantesaprobados) * 100) / Convert.ToDouble(Model.Matriculados_DetalleCargaAcademica), 2)) %</td>
                </tr>
                <tr>
                    <td>Estudiantes desaprobados </td>
                    <td style="text-align:center;background-color:#F2E2C4;">@estudiantesdesaprobados</td>
                    <td style="text-align:center;">@(Math.Round((Convert.ToDouble(estudiantesdesaprobados) * 100) / Convert.ToDouble(Model.Matriculados_DetalleCargaAcademica), 2)) %</td>
                </tr>
                <tr>
                    <td>Nota final mas alta  </td>
                    <td style="text-align:center;background-color:#F2E2C4;">@notamasalta</td>

                </tr>
                <tr>
                    <td>Nota final promedio  </td>
                    <td style="text-align:center;background-color:#F2E2C4;">@notapromedio</td>

                </tr>
                <tr>
                    <td>Nota final mas baja   </td>
                    <td style="text-align:center;background-color:#F2E2C4;">@notamasbaja</td>

                </tr>
            </table>
        </td>
        <td>
            <img src="~/assets/Informes/final/estudiantes.png" style="min-width: 350px; height: 300px; max-width: 400px; margin: 0 auto" />
        </td>

    </tr>
</table>

<table class="table">
    <tr>
        <td>
            <img src=" />
            <img src="~/assets/Informes/final/situacion-general.png" style="min-width: 350px; height: 300px; max-width: 400px; margin: 0 auto" />
        </td>

        <td>
            <img src="~/assets/Informes/final/rendimiento.png" style="min-width: 300px; height: 300px; max-width: 400px; margin: 0 auto" />
        </td>

    </tr>
</table>



<table class="table">
    <tr>
        <td><strong>Indicaciones:</strong></td>
    </tr>
    <tr>
        <td>
            Según su apreciación deberá marcar (x) el nivel que han alcanzado los estudiantes en los diferentes
            aspectos que se mencionan a continuación.
        </td>
    </tr>
</table>
<table border="1" class="table">
    <tr>
        <td style="text-align:center;"><strong>N</strong></td>
        <td style="text-align:center;"><strong>P</strong></td>
        <td style="text-align:center;"><strong>A</strong></td>
        <td style="text-align:center;"><strong>B</strong></td>
        <td style="text-align:center;"><strong>M</strong></td>
    </tr>
    <tr>
        <td style="text-align:center;">Nada</td>
        <td style="text-align:center;">Poco</td>
        <td style="text-align:center;">Aceptble</td>
        <td style="text-align:center;">Bien</td>
        <td style="text-align:center;">Muy Bien</td>
    </tr>
</table>

<br />
<table class="table">
    <tr>
        <td><strong>Logros de capacidades del curso</strong></td>
    </tr>
</table>

<table border="1" class="table">
    <thead>
        <tr>
            <th width="5%" rowspan="2">#</th>
            <th width="50%" rowspan="2">Capacidades del curso</th>
            <th width="50%" class="text-center" colspan="5">Nivel Alcanzado</th>
        </tr>
        <tr>
            <th width="10%" class="text-center">Nada</th>
            <th width="10%" class="text-center">Poco</th>
            <th width="10%" class="text-center">Aceptable</th>
            <th width="10%" class="text-center">Bien</th>
            <th width="10%" class="text-center">Muy Bien</th>
        </tr>
    </thead>
    <tbody>
        @{ int conteo = 0;}
        @foreach (var capacidad in CapacidadesCurso)
        {

            conteo = conteo + 1;
            <tr>
                <td>@conteo</td>
                <td>@capacidad.Descripcion_CapacidadesCurso</td>
                <td class="text-center">@(capacidad.Nada_CapacidadesCurso == 1 ? "X" : "")</td>
                <td class="text-center">@(capacidad.Poco_CapacidadesCurso == 1 ? "X" : "")</td>
                <td class="text-center">@(capacidad.Aceptable_CapacidadesCurso == 1 ? "X" : "")</td>
                <td class="text-center">@(capacidad.Bien_CapacidadesCurso == 1 ? "X" : "")</td>
                <td class="text-center">@(capacidad.MuyBien_CapacidadesCurso == 1 ? "X" : "")</td>

            </tr>
        }

    </tbody>
</table>


@foreach (var ob in observaciones)
{
    <table>
        <tr>
            <td><strong>OBSERVACIONES</strong></td>
        </tr>
        <tr>
            <td>
                <b>1.    De los estudiantes.</b> Nivel académico, conocimientos previos, interés en el curso, estilos de
                aprendizaje.
            </td>
        </tr>
        <tr>
            <td><textarea style="background-color:#F2E2C4;" name="textarea" rows="3" cols="110">@ob.Estudiantes_Observaciones</textarea></td>
        </tr>

        <tr>
            <td>
                <b>2.    Asistencia y puntualidad de los estudiantes.</b>
            </td>
        </tr>
        <tr>
            <td><textarea style="background-color:#F2E2C4;" name="textarea" rows="3" cols="110">@ob.AsistenciaPuntualidad_Observaciones</textarea></td>
        </tr>
        <tr>
            <td>
                <b>3.    Del sílabo.</b>  Qué temas del sílabo no se han completado? Considera todos los temas adecuados?
                Qué temas requieren más tiempo de dedicación?
            </td>
        </tr>
        <tr>
            <td><textarea style="background-color:#F2E2C4;" name="textarea" rows="3" cols="110">@ob.Silabo_Observaciones</textarea></td>
        </tr>
        <tr>
            <td>
                <b>4.  Uso del Aula Virtual.</b>   Información colocada, uso de foros, chat  y cantidad de visitas estudiantiles.
            </td>
        </tr>
        <tr>
            <td>
                <table class="table">
                    <tr>
                        <td width="25%">Material del curso </td>
                        <td width="7%"><input type="text" style="text-align:center; background-color:#F2E2C4; border: 1px solid #000" value="@(ob.MaterialCurso_Observaciones == true ? "X" : "")" size="5" /></td>
                        <td width="2%"> </td>
                        <td width="25%">Cuestionarios </td>
                        <td width="7%"><input type="text" style="text-align:center; background-color:#F2E2C4; border: 1px solid #000" value="@(ob.Cuestionarios_Observaciones == true ? "X" : "")" size="5" /></td>
                        <td width="2%"> </td>
                        <td width="25%">Tareas Encargadas </td>
                        <td width="7%"><input type="text" style="text-align:center; background-color:#F2E2C4; border: 1px solid #000" value="@(ob.TareasEncargadas_Observaciones == true ? "X" : "")" size="5" /></td>
                    </tr>
                    <tr>
                        <td width="25%">Foros  </td>
                        <td width="7%"><input type="text" style="text-align:center; background-color:#F2E2C4; border: 1px solid #000" value="@(ob.Foros_Observaciones == true ? "X" : "")" size="5" /></td>
                        <td width="2%"> </td>
                        <td width="25%">Examenes virtuales  </td>
                        <td width="7%"><input type="text" style="text-align:center; background-color:#F2E2C4; border: 1px solid #000" value="@(ob.ExamenesVirtuales_Observaciones == true ? "X" : "")" size="5" /></td>
                        <td width="2%"> </td>
                        <td width="25%">Slideshow </td>
                        <td width="7%"><input type="text" style="text-align:center; background-color:#F2E2C4; border: 1px solid #000" value="@(ob.Slideshow_Observaciones == true ? "X" : "")" size="5" /></td>
                    </tr>

                </table>
            </td>
        </tr>
        <tr>
            <td>
                <b>5.  Administrativas.</b>   Disponibilidad de recursos en aulas y laboratorios.
            </td>
        </tr>
        <tr>
            <td><textarea style="background-color:#F2E2C4;" name="textarea" rows="3" cols="110">@ob.Administrativas_Observaciones</textarea></td>
        </tr>
        <tr>
            <td>
                <b>6. Sílabo por competencias.</b>   Qué actividades realizó usted para la evaluación del cumplimiento de las
                competencias  de su curso,  por los estudiantes? Podría presentar una propuesta de evaluación de las
                competencias de su curso?
            </td>
        </tr>
        <tr>
            <td><textarea style="background-color:#F2E2C4;" name="textarea" rows="3" cols="110">@ob.SilaboCompetencias_Observaciones</textarea></td>
        </tr>
        <tr>
            <td>
                <b>7. Mejora continua.</b>  Qué actividades de mejora continua ha realizado en el curso en este ciclo y cuales
                propone para el siguiente, para mejorar el rendimiento académico del estudiante..
            </td>
        </tr>
        <tr>
            <td><textarea style="background-color:#F2E2C4;" name="textarea" rows="3" cols="110">@ob.MejoraContinua_Observaciones.</textarea></td>
        </tr>
        <tr>
            <td>
                <b>8. Actualización docente.</b>  Ha seguido usted algún curso de actualización profesional o docente en los
                últimos dos años. Indique tema del curso y duración.
            </td>
        </tr>
        <tr>
            <td><textarea style="background-color:#F2E2C4;" name="textarea" rows="3" cols="110">@ob.ActualizacionDocente_Observaciones</textarea></td>
        <tr>
            <td>
                <b>9. Comentarios y Recomendaciones.</b>  Serán útiles para mejorar el Plan de Estudios y los servicios que
                brindan la Escuela, la Facultad y la Universidad
            </td>
        </tr>
        <tr>
            <td><textarea style="background-color:#F2E2C4;" name="textarea" rows="3" cols="110">@ob.ComentariosRecomendaciones_Observaciones</textarea></td>

        </tr>
    </table>

}

<p> Fecha: @DateTime.Parse((DateTime.Now).ToString()).ToShortDateString()</p>
<br /><br />


<center><p>___________________________________</p></center>
<center><p> @Model.Tbl_Docente.Nombres_Docente , @Model.Tbl_Docente.Apellidos_Docente</p></center>