
@{
    /**/

    List<PortafolioEPIS.Models.Tbl_DetalleCargaAcademica> detalle = ViewBag.detalle;

    string controlador = ViewContext.RouteData.Values["controller"].ToString().ToLower();
    PortafolioEPIS.Models.Tbl_Usuario usuario = new PortafolioEPIS.Models.Tbl_Usuario().Obtener(PortafolioEPIS.Models.SessionHelper.GetUser());

    List<PortafolioEPIS.Models.Tbl_PruebaEntrada> prueba = new PortafolioEPIS.Models.Tbl_PruebaEntrada().Listar();
    List<PortafolioEPIS.Models.Tbl_Portafolio> portafolio = new PortafolioEPIS.Models.Tbl_Portafolio().Listar();
    List<PortafolioEPIS.Models.Tbl_InformeFinal> informe = new PortafolioEPIS.Models.Tbl_InformeFinal().Listar();

    int cantGuardados = 0, cantEnviado = 0, cantRechazado = 0, cantAceptado = 0;
    int cantGuardados2 = 0, cantEnviado2 = 0, cantRechazado2 = 0, cantAceptado2 = 0;
    int cantGuardados3 = 0, cantEnviado3 = 0, cantRechazado3 = 0, cantAceptado3 = 0;
    int cantPruebaG = 0, cantPruebaE = 0, cantPruebaR = 0, cantPruebaA = 0;
    int cantInformeG = 0, cantInformeE = 0, cantInformeR = 0, cantInformeA = 0;
    int cantEstudianteAUI = 0, cantEstudianteDUI = 0, cantEstudianteRUI = 0, cantEstudianteABUI = 0, cantEstudianteASUI = 0;
    int cantEstudianteAUII = 0, cantEstudianteDUII = 0, cantEstudianteRUII = 0, cantEstudianteABUII = 0, cantEstudianteASUII = 0;
    int cantEstudianteAUIII = 0, cantEstudianteDUIII = 0, cantEstudianteRUIII = 0, cantEstudianteABUIII = 0, cantEstudianteASUIII = 0;
    int codigodetallle = 0;
    int cantEstudianteMa = 0;
    string asignatura = null, estado = null, cadenaHighchart = null, series = null, name = null, name2 = null, name3 = null, name4 = null, /*data = null,*/ data_string = null;
    string estado1 = null, estado2 = null, estado3 = null, estado4 = null, estado5 = null;
    int num = 0, horas = 0, creditos = 0;
}


<!--ESTADO DE INFORME PRUEBA DE ENTRADA-->
@{
    int cant_noguardado = 0;
    int cant_guardado = 0;
    int cant_enviado = 0;
    int cant_rechazado = 0;
    int cant_aceptado = 0;
    string cursos_pruebaentrada = "";
    string estado_pruebaentrada = "";
}
@foreach (var item in detalle)
{
    if (item.Codigo_Docente == usuario.Tbl_Docente.Codigo_Docente)
    {
        string estadoss = null;
        string cursoss = null;
        foreach (var q in prueba)
        {
            if (item.Codigo_DetalleCargaAcademica == q.Codigo_DetalleCargaAcademica)
            {
                //cursoss = item.Tbl_DetallePlanEstudio.Asignatura_DetallePlanEstudio;
                //cursoss = q.Tbl_DetalleCargaAcademica.Tbl_DetallePlanEstudio.Asignatura_DetallePlanEstudio;
                //estadoss = q.Estado_PruebaEntrada;


            }
            estadoss = "null";
        }



        if (estadoss == "G")
        {
            cant_guardado++;

        }
        if (estadoss == "E")
        {
            cant_enviado++;

        }
        if (estadoss == "R")
        {
            cant_rechazado++;

        }
        if (estadoss == "A")
        {
            cant_aceptado++;

        }
        if (estadoss == null)
        {
            cant_noguardado++;

        }

        //algoritmo para generar el grafico
        cursos_pruebaentrada = cursos_pruebaentrada + "'" + item.Tbl_DetallePlanEstudio.Asignatura_DetallePlanEstudio + "', ";
        //{name: 'Year 1800',data: [107, 31, 635, 203, 2]},   
        estado_pruebaentrada = estado_pruebaentrada + "{name: '"+ estadoss+"'" + ",data: ["+ 107+", "+31 + ", " + 635 + ", " + 203 + ", " + 2 + "]},";


        //estado_pruebaentrada = estado_pruebaentrada + estadoss;
        //estado_pruebaentrada = estado_pruebaentrada + "'" + estadoss + "', ";
        /*
         *          categories: ['Africa', 'America', 'Asia', 'Europe', 'Oceania'],
                    series: [{
                            name: 'Year 1800',
                            data: [107, 31, 635, 203, 2]
                        }, {
                            name: 'Year 1900',
                            data: [133, 156, 947, 408, 6]
                        }, {
                            name: 'Year 2000',
                            data: [814, 841, 3714, 727, 31]
                        }, {
                            name: 'Year 2016',
                            data: [1216, 1001, 4436, 738, 40]
                        }]
     */
        //contenido_pruebaentrada;
    }

}
<!--ESTADO DE INFORME PRUEBA DE ENTRADA-->
@{
    int cant_noguardado1 = 0;
    int cant_guardado1 = 0;
    int cant_enviado1 = 0;
    int cant_rechazado1 = 0;
    int cant_aceptado1 = 0;
    string cursos_pruebaentrada1 = "";
    string estado_pruebaentrada1 = "";
}
@foreach (var p in detalle)
{
    if (p.Codigo_Docente == usuario.Codigo_Docente)
    {
        cursos_pruebaentrada1 = cursos_pruebaentrada1 + "'" + p.Tbl_DetallePlanEstudio.Asignatura_DetallePlanEstudio + "', ";
    }
}

@Html.Raw((String)estado_pruebaentrada)
<hr />
@Html.Raw((String)cursos_pruebaentrada)
<!--Resumen general de PRUEBA DE ENTRADA-->
<br />
<div class="card-box ">
    <div class="row clearfix">
        <div class="col-md-12">
            <center><h2 class="text-primary">Estado Informe Prueba de Entrada</h2></center>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">RESUMEN - CANTIDAD DE REGISTROS POR ESTADO</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="col-md-12">
        <div class="profile-view">
            <div class="row">
                <div class="col-md-6">
                    <div class="profile-info-left">
                        <ul class="personal-info">
                            <li>
                                <span class="title">No Generado:</span>
                                <span class="text">@cant_noguardado</span>
                                <span class="title">Guardado:</span>
                                <span class="text">@cant_guardado</span>
                                <span class="title">Enviado:</span>
                                <span class="text">@cant_enviado</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="personal-info">
                        <li>
                            <span class="title">Aceptado:</span>
                            <span class="text">@cant_aceptado</span>
                            <span class="title">Rechazado:</span>
                            <span class="text">@cant_rechazado</span>
                            <span class="title">Total:</span>
                            <span class="text">@(cant_aceptado + cant_enviado + cant_guardado + cant_noguardado + cant_rechazado)</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12">
            <div class="card-box">
                <div id="containerpe"></div>
                <script type="text/javascript">
                    Highcharts.chart('containerpe', {
                        chart: {
                            type: 'bar'
                        },
                        title: {
                            text: 'Historic World Population by Region'
                        },
                        subtitle: {
                            text: 'Source: <a href="https://en.wikipedia.org/wiki/World_population">Wikipedia.org</a>'
                        },
                        xAxis: {
                            categories: [@Html.Raw((String)cursos_pruebaentrada)],
                            title: {
                                text: null
                            }
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: 'Population (millions)',
                                align: 'high'
                            },
                            labels: {
                                overflow: 'justify'
                            }
                        },
                        tooltip: {
                            valueSuffix: ' millions'
                        },
                        plotOptions: {
                            bar: {
                                dataLabels: {
                                    enabled: true
                                }
                            }
                        },
                        legend: {
                            layout: 'vertical',
                            align: 'right',
                            verticalAlign: 'top',
                            x: -40,
                            y: 80,
                            floating: true,
                            borderWidth: 1,
                            backgroundColor:
                                Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF',
                            shadow: true
                        },
                        credits: {
                            enabled: false
                        },
                        series: [@Html.Raw((String)estado_pruebaentrada)]
                    });


                </script>
            </div>
        </div>


    </div>
</div>

<!--Resumen general de CARGA ACDEMICA-->
<div class="card-box ">
    <div class="row clearfix">
        <div class="col-md-12">
            <center><h2 class="text-primary">Información de Carga Académica 2019-I</h2></center>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12">
            <table id="s" class="table table-hover">
                <thead>
                    <tr>
                        <th>Docente</th>
                        <th>#</th>
                        <th>Curso</th>
                        <th>Horas</th>
                        <th>Creditos</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var p in detalle)
                    {
                        if (p.Codigo_Docente == usuario.Codigo_Docente)
                        {
                            num = num + 1;
                            horas = horas + p.Tbl_DetallePlanEstudio.TotalHoras_DetallePlanEstudio;
                            creditos = creditos + p.Tbl_DetallePlanEstudio.TotalCreditos_DetallePlanEstudio;
                            <tr>
                                <td>@(num == 1 ? (p.Tbl_Docente.Nombres_Docente + ", " + p.Tbl_Docente.Apellidos_Docente) : "")</td>
                                <td>@num</td>
                                <td>@p.Tbl_DetallePlanEstudio.Asignatura_DetallePlanEstudio</td>
                                <td>@p.Tbl_DetallePlanEstudio.TotalHoras_DetallePlanEstudio</td>
                                <td>@p.Tbl_DetallePlanEstudio.TotalCreditos_DetallePlanEstudio</td>
                            </tr>
                        }
                    }
                    <tr>
                        <td></td>
                        <td></td>
                        <th bgcolor="#D9E2FF"><strong>Total</strong></th>
                        <th bgcolor="#D9E2FF"><strong>@horas</strong></th>
                        <th bgcolor="#D9E2FF"><strong>@creditos</strong></th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--Resumen general de PRUEBA DE ENTRADA-->
<br />
<div class="card-box ">
    <div class="row clearfix">
        <div class="col-md-12">
            <center><h2 class="text-primary">Estado Informe Prueba de Entrada</h2></center>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">RESUMEN - CANTIDAD DE REGISTROS POR ESTADO</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="col-md-12">
        <div class="profile-view">
            <div class="row">
                <div class="col-md-6">
                    <div class="profile-info-left">
                        <ul class="personal-info">
                            <li>
                                <span class="title">No Generado:</span>
                                <span class="text">@cant_noguardado</span>
                                <span class="title">Guardado:</span>
                                <span class="text">@cant_guardado</span>
                                <span class="title">Enviado:</span>
                                <span class="text">@cant_enviado</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="personal-info">
                        <li>
                            <span class="title">Aceptado:</span>
                            <span class="text">@cant_aceptado</span>
                            <span class="title">Rechazado:</span>
                            <span class="text">@cant_rechazado</span>
                            <span class="title">Total:</span>
                            <span class="text">@(cant_aceptado + cant_enviado + cant_guardado + cant_noguardado + cant_rechazado)</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-6">
            <div class="card-box">
                <div id="containerg"></div>
                <script type="text/javascript">


                    Highcharts.chart('containerg', {
                        chart: {
                        type: 'pie'
                        },
                        title: {
                                text: 'Grafico Circular'
                        },
                            //tooltip: {
                            //    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    //},
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                //enabled: true,
                                format: '<b>{point.name}:{point.y}</b>',
                                //style: {
                                //    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                //}
                            },
                            showInLegend: true
                        }
                    },
                    series: [{
                        name: 'Prueba Entrada',
                        colorByPoint: true,
                        data: [{
                            name: 'No Generado',
                            color: '#8C8C8C',
                            y: @cant_noguardado,

                        }, {
                            name: 'Guardado',
                                color: '#0597F2',
                            y: @cant_guardado,

                            },{
                            name: 'Enviado',
                                color: '#8416F2',
                            y: @cant_enviado,

                        },{
                            name: 'Rechazado',
                                color: '#F20505',
                            y: @cant_rechazado,

                        },{
                            name: 'Aceptado',
                                color: '#04D976',
                            y: @cant_aceptado,

                        },]
                        }]
                        });
                </script>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card-box">

                <div id="container0g"></div>
                <script type="text/javascript">
                    Highcharts.chart('container0g', {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: 'Grafico de Barras'
                        },
                        xAxis: {
                            type: 'category'
                        },
                        yAxis: {
                            title: {
                                text: 'Cantidad total'
                            }

                        },
                        legend: {
                            enabled: false
                        },
                        ooltip: {
                            headerFormat: '<b>{point.x}</b><br/>',
                            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
                        }, plotOptions: {
                            column: {
                                stacking: 'normal',
                                dataLabels: {
                                    enabled: true,
                                },
                                showInLegend: true,
                            }
                        },

                        series: [
                            {
                                name: "Estado",
                                colorByPoint: true,
                                data: [
                                    {
                            name: 'No Generado',
                            color: '#8C8C8C',
                            y: @cant_noguardado,

                        }, {
                            name: 'Guardado',
                                color: '#0597F2',
                            y: @cant_guardado,

                            },{
                            name: 'Enviado',
                                color: '#8416F2',
                            y: @cant_enviado,

                        },{
                            name: 'Rechazado',
                                color: '#F20505',
                            y: @cant_rechazado,

                        },{
                            name: 'Aceptado',
                                color: '#04D976',
                            y: @cant_aceptado,

                        },

                                ]
                            }
                        ]
                    });
                </script>
            </div>
        </div>
    </div>
</div>









@foreach (var q in detalle)
{
    if (q.Codigo_Docente == usuario.Tbl_Docente.Codigo_Docente)
    {
        codigodetallle = q.Codigo_DetalleCargaAcademica;
        cantEstudianteMa = q.Matriculados_DetalleCargaAcademica;
        cadenaHighchart = cadenaHighchart + ("'" + q.Tbl_DetallePlanEstudio.Asignatura_DetallePlanEstudio + "', ");
        @*<label>@codigodetallle</label>*@


        foreach (var prue in prueba)
        {
            if (prue.Codigo_DetalleCargaAcademica == q.Codigo_DetalleCargaAcademica)
            {
                estado = estado + prue.Estado_PruebaEntrada;

                if (prue.Estado_PruebaEntrada == "A")
                {
                    estado1 = prue.Estado_PruebaEntrada;
                    name = name + "{ name: 'Aceptado', data: [1,0,0,0]},";

                }

                else if (prue.Estado_PruebaEntrada == "G")
                {
                    //data = data + "";
                    estado2 = prue.Estado_PruebaEntrada;
                    name = name + "{ name: 'Guardado', data: [0,1,0,0]},";
                }

                else if (prue.Estado_PruebaEntrada == "E")
                {

                    estado3 = prue.Estado_PruebaEntrada;
                    name = name + "{ name: 'Enviado', data: [0,0,1,0]},";
                }

                else if (prue.Estado_PruebaEntrada == "R")
                {

                    estado4 = prue.Estado_PruebaEntrada;
                    name = name + "{ name: 'Rechazado', data: [0,0,0,1]},";
                }


                if (prue.Estado_PruebaEntrada == "G")
                {
                    cantPruebaG++;
                }
                else if (prue.Estado_PruebaEntrada == "E")
                {
                    cantPruebaE++;
                }
                else if (prue.Estado_PruebaEntrada == "A")
                {
                    cantPruebaA++;
                }
                else if (prue.Estado_PruebaEntrada == "R")
                {
                    cantPruebaR++;
                }
            }
        }



        foreach (var infof in informe)
        {
            if (infof.Codigo_DetalleCargaAcademica == q.Codigo_DetalleCargaAcademica)
            {
                if (infof.Estado_InformeFinal == "G")
                {
                    cantInformeG++;
                }
                else if (infof.Estado_InformeFinal == "E")
                {
                    cantInformeE++;
                }
                else if (infof.Estado_InformeFinal == "A")
                {
                    cantInformeA++;
                }
                else if (infof.Estado_InformeFinal == "R")
                {
                    cantInformeR++;
                }
            }

        }


        foreach (var por in portafolio)
        {
            if (por.Codigo_DetalleCargaAcademica == q.Codigo_DetalleCargaAcademica)
            {
                if (por.Unidad_Portafolio == "UI" && por.Estado_Portafolio == "G")
                {
                    cantGuardados++;
                }
                else if (por.Unidad_Portafolio == "UI" && por.Estado_Portafolio == "E")
                {
                    cantEnviado++;
                }
                else if (por.Unidad_Portafolio == "UI" && por.Estado_Portafolio == "A")
                {
                    cantAceptado++;
                }


                else if (por.Unidad_Portafolio == "UI" && por.Estado_Portafolio == "R")
                {
                    cantRechazado++;
                }
                if (por.Unidad_Portafolio == "UII" && por.Estado_Portafolio == "G")
                {
                    cantGuardados2++;
                }
                else if (por.Unidad_Portafolio == "UII" && por.Estado_Portafolio == "E")
                {
                    cantEnviado2++;
                }
                else if (por.Unidad_Portafolio == "UII" && por.Estado_Portafolio == "A")
                {
                    cantAceptado2++;
                }

                else if (por.Unidad_Portafolio == "UII" && por.Estado_Portafolio == "R")
                {
                    cantRechazado2++;
                }
                if (por.Unidad_Portafolio == "UIII" && por.Estado_Portafolio == "G")
                {
                    cantGuardados3++;
                }
                else if (por.Unidad_Portafolio == "UIII" && por.Estado_Portafolio == "E")
                {
                    cantEnviado3++;
                }
                else if (por.Unidad_Portafolio == "UIII" && por.Estado_Portafolio == "A")
                {
                    cantAceptado3++;
                }

                else if (por.Unidad_Portafolio == "UIII" && por.Estado_Portafolio == "R")
                {
                    cantRechazado3++;
                }

                if (por.Unidad_Portafolio == "UI")
                {
                    //idpruebas = p.Codigo_Portafolio;
                    cantEstudianteRUI = Convert.ToInt32(por.Retirados_Portafolio);
                    cantEstudianteABUI = Convert.ToInt32(por.Abandono_Portafolio);
                    cantEstudianteAUI = Convert.ToInt32(por.Aprobados_Portafolio);
                    cantEstudianteASUI = cantEstudianteMa - cantEstudianteABUI - cantEstudianteRUI;
                    cantEstudianteDUI = cantEstudianteASUI - cantEstudianteAUI;

                }
                else if (por.Unidad_Portafolio == "UII")
                {
                    //idpruebas = p.Codigo_Portafolio;
                    cantEstudianteRUII = Convert.ToInt32(por.Retirados_Portafolio);
                    cantEstudianteABUII = Convert.ToInt32(por.Abandono_Portafolio);
                    cantEstudianteAUII = Convert.ToInt32(por.Aprobados_Portafolio);
                    cantEstudianteASUII = cantEstudianteMa - cantEstudianteABUII - cantEstudianteRUII;
                    cantEstudianteDUII = cantEstudianteASUII - cantEstudianteAUII;

                }

                else if (por.Unidad_Portafolio == "UIII")
                {
                    //idpruebas = p.Codigo_Portafolio;
                    cantEstudianteRUIII = Convert.ToInt32(por.Retirados_Portafolio);
                    cantEstudianteABUIII = Convert.ToInt32(por.Abandono_Portafolio);
                    cantEstudianteAUIII = Convert.ToInt32(por.Aprobados_Portafolio);
                    cantEstudianteASUIII = cantEstudianteMa - cantEstudianteABUIII - cantEstudianteRUIII;
                    cantEstudianteDUIII = cantEstudianteASUIII - cantEstudianteAUIII;

                }

            }
        }


    }
}


<div class="row clearfix">
    <div class="col-md-12">
        <div class="card-box">
            <center><h4 class="card-title">Estado Informe Prueba de Entrada</h4></center>
            <div id="container5"></div>
            <script type="text/javascript">
            Highcharts.chart('container5', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Prueba de Entrada'
                },
                xAxis: {
                    type: 'category'
                },
                yAxis: {
                    title: {
                        text: 'Cantidad total'
                    }

                },
                legend: {
                    enabled: false
                },
                ooltip: {
                    headerFormat: '<b>{point.x}</b><br/>',
                    pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
                }, plotOptions: {
                    column: {
                        stacking: 'normal',
                        dataLabels: {
                            enabled: true,
                        },
                        showInLegend: true,
                    }
                },

                series: [
                    {
                        name: "Estado",
                        colorByPoint: true,
                        data: [
                            {
                                name: 'Guardado',
                                color: '#ED7D31',
                                y: @cantPruebaG,

                            },
                            {
                                name: 'Enviado',
                                color: '#009EFB',
                                y: @cantPruebaE,

                            },
                            {
                                name: 'Aceptado',
                                color: '#55CE63',
                                y: @cantPruebaA,

                            },
                            {
                                name: 'Rechazado',
                                color: '#FF0000',
                                y: @cantPruebaR,

                            },
                        ]
                    }
                ]
            });
            </script>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-md-4">
        <div class="card-box">
            <center><h4 class="card-title">Estado Informe Unidad I</h4></center>
            <div id="container2"></div>
            <script type="text/javascript">
                    Highcharts.chart('container2', {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: 'Portafolio Unidad I'
                        },
                        xAxis: {
                            type: 'category'
                        },
                        yAxis: {
                            title: {
                                text: 'Cantidad total'
                            }

                        },
                        legend: {
                            enabled: false
                        },
                        ooltip: {
                            headerFormat: '<b>{point.x}</b><br/>',
                            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
                        }, plotOptions: {
                            column: {
                                stacking: 'normal',
                                dataLabels: {
                                    enabled: true,
                                },
                                showInLegend: true,
                            }
                        },

                        series: [
                            {
                                name: "Estado",
                                colorByPoint: true,
                                data: [
                                    {
                                        name: 'Guardado',
                                        color: '#ED7D31',
                                        y: @cantGuardados,

                                    },
                                    {
                                        name: 'Enviado',
                                        color: '#009EFB',
                                        y: @cantEnviado,

                                    },
                                    {
                                        name: 'Aceptado',
                                        color: '#55CE63',
                                        y: @cantAceptado,

                                    },
                                    {
                                        name: 'Rechazado',
                                        color: '#FF0000',
                                        y: @cantRechazado,

                                    },
                                ]
                            }
                        ]
                    });
            </script>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card-box">
            <center><h4 class="card-title">Estado Informe Unidad II</h4></center>
            <div id="container3"></div>
            <script type="text/javascript">
                    Highcharts.chart('container3', {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: 'Portafolio Unidad II'
                        },
                        xAxis: {
                            type: 'category'
                        },
                        yAxis: {
                            title: {
                                text: 'Cantidad total'
                            }

                        },
                        legend: {
                            enabled: false
                        },
                        ooltip: {
                            headerFormat: '<b>{point.x}</b><br/>',
                            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
                        }, plotOptions: {
                            column: {
                                stacking: 'normal',
                                dataLabels: {
                                    enabled: true,
                                },
                                showInLegend: true,
                            }
                        },

                        series: [
                            {
                                name: "Estado",
                                colorByPoint: true,
                                data: [
                                    {
                                        name: 'Guardado',
                                        color: '#ED7D31',
                                        y: @cantGuardados2,

                                    },
                                    {
                                        name: 'Enviado',
                                        color: '#009EFB',
                                        y: @cantEnviado2,

                                    },
                                    {
                                        name: 'Aceptado',
                                        color: '#55CE63',
                                        y: @cantAceptado2,

                                    },
                                    {
                                        name: 'Rechazado',
                                        color: '#FF0000',
                                        y: @cantRechazado2,

                                    },
                                ]
                            }
                        ]
                    });
            </script>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card-box">
            <center><h4 class="card-title">Estado Informe Unidad III</h4></center>
            <div id="container4"></div>
            <script type="text/javascript">
                    Highcharts.chart('container4', {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: 'Portafolio Unidad III'
                        },
                        xAxis: {
                            type: 'category'
                        },
                        yAxis: {
                            title: {
                                text: 'Cantidad total'
                            }

                        },
                        legend: {
                            enabled: false
                        },
                        ooltip: {
                            headerFormat: '<b>{point.x}</b><br/>',
                            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
                        }, plotOptions: {
                            column: {
                                stacking: 'normal',
                                dataLabels: {
                                    enabled: true,
                                },
                                showInLegend: true,
                            }
                        },

                        series: [
                            {
                                name: "Estado",
                                colorByPoint: true,
                                data: [
                                    {
                                        name: 'Guardado',
                                        color: '#ED7D31',
                                        y: @cantGuardados3,

                                    },
                                    {
                                        name: 'Enviado',
                                        color: '#009EFB',
                                        y: @cantEnviado3,

                                    },
                                    {
                                        name: 'Aceptado',
                                        color: '#55CE63',
                                        y: @cantAceptado3,

                                    },
                                    {
                                        name: 'Rechazado',
                                        color: '#FF0000',
                                        y: @cantRechazado3,

                                    },
                                ]
                            }
                        ]
                    });
            </script>
        </div>
    </div>
</div>

<div class="clearfix">
    <div class="col-md-12">
        <div class="card-box">
            <center><h4 class="card-title">Estado Informe Informe Final</h4></center>
            <div id="container6"></div>
            <script type="text/javascript">
        Highcharts.chart('container6', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Informe Final'
            },
            xAxis: {
                type: 'category'
            },
            yAxis: {
                title: {
                    text: 'Cantidad total'
                }

            },
            legend: {
                enabled: false
            },
            ooltip: {
                headerFormat: '<b>{point.x}</b><br/>',
                pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
            }, plotOptions: {
                column: {
                    stacking: 'normal',
                    dataLabels: {
                        enabled: true,
                    },
                    showInLegend: true,
                }
            },

            series: [
                {
                    name: "Estado",
                    colorByPoint: true,
                    data: [
                        {
                            name: 'Guardado',
                            color: '#ED7D31',
                            y: @cantInformeG,

                        },
                        {
                            name: 'Enviado',
                            color: '#009EFB',
                            y: @cantInformeE,

                        },
                        {
                            name: 'Aceptado',
                            color: '#55CE63',
                            y: @cantInformeA,

                        },
                        {
                            name: 'Rechazado',
                            color: '#FF0000',
                            y: @cantInformeR,

                        },
                    ]
                }
            ]
        });
            </script>
        </div>
    </div>
</div>


<div class="row clearfix">
    <div class="col-md-4">
        <div class="card-box">
            <center><h4 class="card-title">Estado Estudiantes UI</h4></center>
            <div id="container7"></div>

            <script type="text/javascript">
                    Highcharts.chart('container7', {
                        chart: {

                            type: 'pie'
                        },
                        title: {
                            text: 'Portafolio Unidad I'
                        },
                        tooltip: {
                            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                        },
                        plotOptions: {
                            pie: {
                                allowPointSelect: true,
                                cursor: 'pointer',
                                dataLabels: {
                                    enabled: true,
                                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                                }
                                , showInLegend: true
                            }

                        },
                        series: [{
                            name: 'Situacion',
                            data: [{
                                name: 'Aprobados',
                                color: '#00B0F0',
                                y:@cantEstudianteAUI,
                            },
                            {
                                name: 'Desaprobados',
                                color: '#FF0000',
                                y:@cantEstudianteDUI,
                            }, {
                                name: 'Retirados',
                                color: '#FFC000',
                                y: @cantEstudianteRUI,
                            }, {
                                name: 'Abandono',
                                color: '#767171',
                                y: @cantEstudianteABUI,
                            }],
                        }]
                    });
            </script>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card-box">
            <center><h4 class="card-title">Estado Estudiantes UII</h4></center>
            <div id="container8"></div>
            <script type="text/javascript">
                    Highcharts.chart('container8', {
                        chart: {

                            type: 'pie'
                        },
                        title: {
                            text: 'Portafolio Unidad II'
                        },
                        tooltip: {
                            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                        },
                        plotOptions: {
                            pie: {
                                allowPointSelect: true,
                                cursor: 'pointer',
                                dataLabels: {
                                    enabled: true,
                                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                                }
                                , showInLegend: true
                            }

                        },
                        series: [{
                            name: 'Situacion',
                            data: [{
                                name: 'Aprobados',
                                color: '#00B0F0',
                                y:@cantEstudianteAUII,
                            },
                            {
                                name: 'Desaprobados',
                                color: '#FF0000',
                                y:@cantEstudianteDUII,
                            }, {
                                name: 'Retirados',
                                color: '#FFC000',
                                y: @cantEstudianteRUII,
                            }, {
                                name: 'Abandono',
                                color: '#767171',
                                y: @cantEstudianteABUII,
                            }],
                        }]
                    });
            </script>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card-box">
            <center><h4 class="card-title">Estado Estudiantes III</h4></center>
            <div id="container9"></div>
            <script type="text/javascript">
                    Highcharts.chart('container9', {
                        chart: {

                            type: 'pie'
                        },
                        title: {
                            text: 'Portafolio Unidad III'
                        },
                        tooltip: {
                            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                        },
                        plotOptions: {
                            pie: {
                                allowPointSelect: true,
                                cursor: 'pointer',
                                dataLabels: {
                                    enabled: true,
                                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                                }
                                , showInLegend: true
                            }

                        },
                        series: [{
                            name: 'Situacion',
                            data: [{
                                name: 'Aprobados',
                                color: '#00B0F0',
                                y:@cantEstudianteAUIII,
                            },
                            {
                                name: 'Desaprobados',
                                color: '#FF0000',
                                y:@cantEstudianteDUIII,
                            }, {
                                name: 'Retirados',
                                color: '#FFC000',
                                y: @cantEstudianteRUIII,
                            }, {
                                name: 'Abandono',
                                color: '#767171',
                                y: @cantEstudianteABUIII,
                            }],
                        }]
                    });
            </script>
        </div>
    </div>
</div>

<div class="clearfix">
    <div class="card-box">
        <div id="container"></div>

        @*<div id="button-bar">
                <button id="large">Large</button>
                <button id="small">Small</button>
            </div>*@
        <script type="text/javascript">
        var chart = Highcharts.chart('container', {

            chart: {
                type: 'column'
            },

            title: {
                text: 'Estado Prueba de Entrada por Cursos'
            },

            legend: {
                align: 'right',
                verticalAlign: 'middle',
                layout: 'vertical'
            },

            xAxis: {
                categories: [@Html.Raw((String)cadenaHighchart)],
                labels: {
                    x: -10
                }
            },

            yAxis: {
                allowDecimals: false,
                title: {
                    text: 'Porcentaje'
                }
            },

            series: [@Html.Raw((String)name)

            ],

            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 500
                    },
                    chartOptions: {
                        legend: {
                            align: 'center',
                            verticalAlign: 'bottom',
                            layout: 'horizontal'
                        },
                        yAxis: {
                            labels: {
                                align: 'left',
                                x: 0,
                                y: -5
                            },
                            title: {
                                text: null
                            }
                        },
                        subtitle: {
                            text: null
                        },
                        credits: {
                            enabled: false
                        }
                    }
                }]
            }
        });

        $('#small').click(function () {
            chart.setSize(400, 300);
        });

        $('#large').click(function () {
            chart.setSize(600, 300);
        });

        </script>
    </div>

</div>