@model PortafolioEPIS.Models.Tbl_Profesion
<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">Agregar / Editar Profesión</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card-box">
            <h4 class="card-title">Información Profesión</h4>
            @using (Html.BeginForm("Guardar", "Profesion", FormMethod.Post, new { @id = "needs-validation", @novalidate = "novalidate" }))
            {
                @Html.HiddenFor(x => x.Codigo_Profesion)
                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Nombre")<span class="text-danger">*</span>
                            @Html.TextBoxFor(x => x.Nombre_Profesion, new { @class = "form-control", id = "validationCustom01", required = "required" })
                            <div class="invalid-feedback">
                                Ingresa Profesion
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Abrebiatura")<span class="text-danger">*</span>
                            @Html.TextBoxFor(x => x.Abrebiatura_Profesion, new { @class = "form-control", id = "validationCustom02", required = "required" })
                            <div class="invalid-feedback">
                                Ingresa Abrebiatura de Profesion
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-12">
                        @Html.Label("Estado")
                        <div class="form-group">

                            @Html.RadioButtonFor(x => x.Estado_Profesion, true)@Html.Label("Activo")

                            @Html.RadioButtonFor(x => x.Estado_Profesion, false)@Html.Label("Inactivo")

                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="form-group row">
                                <div class="col-sm-8 col-9 text-left">
                                    <div class="form-check form-check-inline">
                                        <a href="~/Profesion/Index" class="btn btn btn-outline-primary btn-rounded" style='width:100px; height:35px'><i class="fa fa-close"></i>  Cancelar</a>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <button class="btn btn-primary btn-rounded" style='width:100px; height:35px' type="submit"><i class="fa fa-check"></i> Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';

        window.addEventListener('load', function () {
            var form = document.getElementById('needs-validation');
            form.addEventListener('submit', function (event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        }, false);
    })();
</script>