
@{
    List<PortafolioEPIS.Models.Tbl_DetalleCargaAcademica> detalleCargaAcademicas = new PortafolioEPIS.Models.Tbl_DetalleCargaAcademica().Listar();
    List<PortafolioEPIS.Models.Tbl_CargaAcademica> carga = new PortafolioEPIS.Models.Tbl_CargaAcademica().Listar();
    List<PortafolioEPIS.Models.Tbl_PlanEstudio> plan = new PortafolioEPIS.Models.Tbl_PlanEstudio().Listar();
    List<PortafolioEPIS.Models.Tbl_Docente> docente = new PortafolioEPIS.Models.Tbl_Docente().Listar();
    List<PortafolioEPIS.Models.Tbl_PruebaEntrada> prueba = new PortafolioEPIS.Models.Tbl_PruebaEntrada().Listar();
    List<PortafolioEPIS.Models.Tbl_Portafolio> portafolio = new PortafolioEPIS.Models.Tbl_Portafolio().Listar();
    List<PortafolioEPIS.Models.Tbl_InformeFinal> informe = new PortafolioEPIS.Models.Tbl_InformeFinal().Listar();
}

@{ int d = 0;
    int c = 0;
    int p = 0;
    int i = 0;
    int porta = 0;
    int info = 0;
    int cantActivos = 0, cantInactivos = 0, cantHombres = 0, cantMujeres = 0;


}

@foreach (var doc in docente)
{ d++; }
@foreach (var pl in plan)
{ p++; }
@foreach (var ca in carga)
{ c++; }
@foreach (var pr in prueba)
{ i++; }
@foreach (var es in portafolio)
{ porta++; }
@foreach (var es in informe)
{ info++; }

@foreach (var s in docente)
{
    if (s.Estado_Docente.Equals(true))
    {
        cantActivos++;
    }
    else
    {
        cantInactivos++;
    }
    if (s.Sexo_Docente.Equals(true))
    {
        cantHombres++;
    }
    else
    {
        cantMujeres++;
    }
}

<!--ESTADO DE INFORME PRUEBA DE ENTRADA-->
@{
    int cant_noguardado = 0;
    int cant_guardado = 0;
    int cant_enviado = 0;
    int cant_rechazado = 0;
    int cant_aceptado = 0;
}
@foreach (var item in detalleCargaAcademicas)
{
    string estadoss = null;
    foreach (var q in prueba)
    {
        if (item.Codigo_DetalleCargaAcademica == q.Codigo_DetalleCargaAcademica)
        {
            estadoss = q.Estado_PruebaEntrada;
        }
    }
    if (estadoss == "G")
    {
        cant_guardado++;

    }
    if (estadoss == "E")
    {
        cant_enviado++;

    }
    if (estadoss == "R")
    {
        cant_rechazado++;

    }
    if (estadoss == "A")
    {
        cant_aceptado++;

    }
    if (estadoss == null)
    {
        cant_noguardado++;

    }
}

<!--ESTADO DE INFORME PORTAFOLIO U1-->
@{
    int cant_noguardadop1 = 0;
    int cant_guardadop1 = 0;
    int cant_enviadop1 = 0;
    int cant_rechazadop1 = 0;
    int cant_aceptadop1 = 0;
}
@foreach (var item in detalleCargaAcademicas)
{
    string estadoss = null;
    foreach (var q in portafolio)
    {
        if (q.Unidad_Portafolio == "UI" && item.Codigo_DetalleCargaAcademica == q.Codigo_DetalleCargaAcademica)
        {
            estadoss = q.Estado_Portafolio;
        }
    }
    if (estadoss == "G")
    {
        cant_guardadop1++;

    }
    if (estadoss == "E")
    {
        cant_enviadop1++;

    }
    if (estadoss == "R")
    {
        cant_rechazadop1++;

    }
    if (estadoss == "A")
    {
        cant_aceptadop1++;

    }
    if (estadoss == null)
    {
        cant_noguardadop1++;

    }
}

<!--ESTADO DE INFORME PORTAFOLIO U2-->
@{
    int cant_noguardadop2 = 0;
    int cant_guardadop2 = 0;
    int cant_enviadop2 = 0;
    int cant_rechazadop2 = 0;
    int cant_aceptadop2 = 0;
}
@foreach (var item in detalleCargaAcademicas)
{
    string estadoss = null;
    foreach (var q in portafolio)
    {
        if (q.Unidad_Portafolio == "UII" && item.Codigo_DetalleCargaAcademica == q.Codigo_DetalleCargaAcademica)
        {
            estadoss = q.Estado_Portafolio;
        }
    }
    if (estadoss == "G")
    {
        cant_guardadop2++;

    }
    if (estadoss == "E")
    {
        cant_enviadop2++;

    }
    if (estadoss == "R")
    {
        cant_rechazadop2++;

    }
    if (estadoss == "A")
    {
        cant_aceptadop2++;

    }
    if (estadoss == null)
    {
        cant_noguardadop2++;

    }
}
<!--ESTADO DE INFORME PORTAFOLIO U3-->
@{
    int cant_noguardadop3 = 0;
    int cant_guardadop3 = 0;
    int cant_enviadop3 = 0;
    int cant_rechazadop3 = 0;
    int cant_aceptadop3 = 0;
}
@foreach (var item in detalleCargaAcademicas)
{
    string estadoss = null;
    foreach (var q in portafolio)
    {
        if (q.Unidad_Portafolio == "UIII" && item.Codigo_DetalleCargaAcademica == q.Codigo_DetalleCargaAcademica)
        {
            estadoss = q.Estado_Portafolio;
        }
    }
    if (estadoss == "G")
    {
        cant_guardadop3++;

    }
    if (estadoss == "E")
    {
        cant_enviadop3++;

    }
    if (estadoss == "R")
    {
        cant_rechazadop3++;

    }
    if (estadoss == "A")
    {
        cant_aceptadop3++;

    }
    if (estadoss == null)
    {
        cant_noguardadop3++;

    }
}

<!--ESTADO DE INFORME FINAL-->
@{
    int cant_noguardadoi = 0;
    int cant_guardadoi = 0;
    int cant_enviadoi = 0;
    int cant_rechazadoi = 0;
    int cant_aceptadoi = 0;
}
@foreach (var item in detalleCargaAcademicas)
{
    string estadoss = null;
    foreach (var q in informe)
    {
        if (item.Codigo_DetalleCargaAcademica == q.Codigo_DetalleCargaAcademica)
        {
            estadoss = q.Estado_InformeFinal;
        }
    }
    if (estadoss == "G")
    {
        cant_guardadoi++;

    }
    if (estadoss == "E")
    {
        cant_enviadoi++;

    }
    if (estadoss == "R")
    {
        cant_rechazadoi++;

    }
    if (estadoss == "A")
    {
        cant_aceptadoi++;

    }
    if (estadoss == null)
    {
        cant_noguardadoi++;

    }
}


@{ int cant_director = 0;
    int cant_administrativo = 0;
    int cant_docente = 0;}

@foreach (var cargo in docente)
{
    if (cargo.Tbl_CargoDocente.Nombre_CargoDocente == "Director")
    {
        cant_director++;
    }
    if (cargo.Tbl_CargoDocente.Nombre_CargoDocente == "Administrativo")
    {
        cant_administrativo++;
    }
    if (cargo.Tbl_CargoDocente.Nombre_CargoDocente == "Docente")
    {
        cant_docente++;
    }
}




<div class="row">
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <div class="dash-widget">
            <span class="dash-widget-bg1"><i class="fa fa-graduation-cap" aria-hidden="true"></i></span>
            <div class="dash-widget-info text-right">
                <h3>@p</h3>
                <span class="widget-title1">Plan de Est.<i class="fa fa-check" aria-hidden="true"></i></span>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <div class="dash-widget">
            <span class="dash-widget-bg2"><i class="fa fa-folder-open"></i></span>
            <div class="dash-widget-info text-right">
                <h3>@c</h3>
                <span class="widget-title2">Carga Acad.<i class="fa fa-check" aria-hidden="true"></i></span>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <div class="dash-widget">
            <span class="dash-widget-bg3"><i class="fa fa fa-user-o" aria-hidden="true"></i></span>
            <div class="dash-widget-info text-right">
                <h3>@d</h3>
                <span class="widget-title3">Docentes <i class="fa fa-check" aria-hidden="true"></i></span>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <div class="dash-widget">
            <span class="dash-widget-bg4"><i class="fa fa-print " aria-hidden="true"></i></span>
            <div class="dash-widget-info text-right">
                <h3>@i</h3>
                <span class="widget-title4">Prueba Entrada <i class="fa fa-check" aria-hidden="true"></i></span>
            </div>
        </div>
    </div>
</div>

<!--bienvenida-->
<div class="card">
    <div class="card-body">
        <img src="~/Imagen/imagen_inicio.png" class="img-fluid" alt="Responsive image" />
    </div>
</div>

<!--Resumen general de PRUEBA DE ENTRADA-->
<br />
<div class="card-box ">
    <div class="row clearfix">
        <div class="col-md-12">
            <center><h2 class="text-primary">Estado Informe Prueba de Entrada</h2></center>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">RESUMEN - CANTIDAD DE REGISTROS POR ESTADO</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="col-md-12">
        <div class="profile-view">
            <div class="row">
                <div class="col-md-6">
                    <div class="profile-info-left">
                        <ul class="personal-info">
                            <li>
                                <span class="title">No Generado:</span>
                                <span class="text">@cant_noguardado</span>
                                <span class="title">Guardado:</span>
                                <span class="text">@cant_guardado</span>
                                <span class="title">Enviado:</span>
                                <span class="text">@cant_enviado</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="personal-info">
                        <li>
                            <span class="title">Aceptado:</span>
                            <span class="text">@cant_aceptado</span>
                            <span class="title">Rechazado:</span>
                            <span class="text">@cant_rechazado</span>
                            <span class="title">Total:</span>
                            <span class="text">@(cant_aceptado + cant_enviado + cant_guardado + cant_noguardado + cant_rechazado)</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-6">
            <div class="card-box">
                <div id="containerg"></div>
                <script type="text/javascript">


                    Highcharts.chart('containerg', {
                        chart: {
                        type: 'pie'
                        },
                        title: {
                                text: 'Grafico Circular'
                        },
                            //tooltip: {
                            //    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    //},
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                //enabled: true,
                                format: '<b>{point.name}:{point.y}</b>',
                                //style: {
                                //    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                //}
                            },
                            showInLegend: true
                        }
                    },
                    series: [{
                        name: 'Prueba Entrada',
                        colorByPoint: true,
                        data: [{
                            name: 'No Generado',
                            color: '#8C8C8C',
                            y: @cant_noguardado,

                        }, {
                            name: 'Guardado',
                                color: '#0597F2',
                            y: @cant_guardado,

                            },{
                            name: 'Enviado',
                                color: '#8416F2',
                            y: @cant_enviado,

                        },{
                            name: 'Rechazado',
                                color: '#F20505',
                            y: @cant_rechazado,

                        },{
                            name: 'Aceptado',
                                color: '#04D976',
                            y: @cant_aceptado,

                        },]
                        }]
                        });
                </script>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card-box">

                <div id="container0g"></div>
                <script type="text/javascript">
                    Highcharts.chart('container0g', {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: 'Grafico de Barras'
                        },
                        xAxis: {
                            type: 'category'
                        },
                        yAxis: {
                            title: {
                                text: 'Cantidad total'
                            }

                        },
                        legend: {
                            enabled: false
                        },
                        ooltip: {
                            headerFormat: '<b>{point.x}</b><br/>',
                            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
                        }, plotOptions: {
                            column: {
                                stacking: 'normal',
                                dataLabels: {
                                    enabled: true,
                                },
                                showInLegend: true,
                            }
                        },

                        series: [
                            {
                                name: "Estado",
                                colorByPoint: true,
                                data: [
                                    {
                            name: 'No Generado',
                            color: '#8C8C8C',
                            y: @cant_noguardado,

                        }, {
                            name: 'Guardado',
                                color: '#0597F2',
                            y: @cant_guardado,

                            },{
                            name: 'Enviado',
                                color: '#8416F2',
                            y: @cant_enviado,

                        },{
                            name: 'Rechazado',
                                color: '#F20505',
                            y: @cant_rechazado,

                        },{
                            name: 'Aceptado',
                                color: '#04D976',
                            y: @cant_aceptado,

                        },

                                ]
                            }
                        ]
                    });
                </script>
            </div>
        </div>
    </div>
</div>

<!--Resumen general de INFORME PORTAFOLIO-->
<br />
<div class="card-box ">
    <div class="row clearfix">
        <div class="col-md-12">
            <center><h2 class="text-primary">Estado Informe Portafolio</h2></center>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">RESUMEN - CANTIDAD DE REGISTROS POR ESTADO</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="col-md-12">
        <div class="profile-view">
            <div class="row">
                <div class="col-md-6">
                    <div class="profile-info-left">
                        <ul class="personal-info">
                            <li>
                                <span class="title">No Generado:</span>
                                <span class="text">@(cant_noguardadop1 + cant_noguardadop2 + cant_noguardadop3 )</span>
                                <span class="title">Guardado:</span>
                                <span class="text">@(cant_guardadop1 + cant_guardadop2 + cant_guardadop3)</span>
                                <span class="title">Enviado:</span>
                                <span class="text">@(cant_enviadop1 + cant_enviadop2 + cant_enviadop3)</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="personal-info">
                        <li>
                            <span class="title">Aceptado:</span>
                            <span class="text">@(cant_aceptadop1 + cant_aceptadop2 + cant_aceptadop3)</span>
                            <span class="title">Rechazado:</span>
                            <span class="text">@(cant_rechazadop1 + cant_rechazadop2 + cant_rechazadop3)</span>
                            <span class="title">Total:</span>
                            <span class="text">@((cant_aceptadop1 + cant_enviadop1 + cant_guardadop1 + cant_noguardadop1 + cant_rechazadop1) + (cant_aceptadop2 + cant_enviadop2 + cant_guardadop2 + cant_noguardadop2 + cant_rechazadop2) + (cant_aceptadop3 + cant_enviadop3 + cant_guardadop3 + cant_noguardadop3 + cant_rechazadop3))</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



    <div class="row clearfix">
        <div class="col-md-4">
            <div class="card-box">
                <div id="containerportafolio01"></div>
                <script type="text/javascript">
                    Highcharts.chart('containerportafolio01', {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: 'Portafolio Unidad I'
                        },
                        xAxis: {
                            type: 'category'
                        },
                        yAxis: {
                            title: {
                                text: 'Cantidad total'
                            }

                        },
                        legend: {
                            enabled: false
                        },
                        ooltip: {
                            headerFormat: '<b>{point.x}</b><br/>',
                            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
                        }, plotOptions: {
                            column: {
                                stacking: 'normal',
                                dataLabels: {
                                    enabled: true,
                                },
                                showInLegend: true,
                            }
                        },

                        series: [
                            {
                                name: "Estado",
                                colorByPoint: true,
                                data: [
                                    {
                            name: 'No Generado',
                            color: '#8C8C8C',
                            y: @cant_noguardadop1,

                        }, {
                            name: 'Guardado',
                                color: '#0597F2',
                            y: @cant_guardadop1,

                            },{
                            name: 'Enviado',
                                color: '#8416F2',
                            y: @cant_enviadop1,

                        },{
                            name: 'Rechazado',
                                color: '#F20505',
                            y: @cant_rechazadop1,

                        },{
                            name: 'Aceptado',
                                color: '#04D976',
                            y: @cant_aceptadop1,

                        },

                                ]
                            }
                        ]
                    });
                </script>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-box">
                <div id="containerportafolio02"></div>
                <script type="text/javascript">
                    Highcharts.chart('containerportafolio02', {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: 'Portafolio Unidad II'
                        },
                        xAxis: {
                            type: 'category'
                        },
                        yAxis: {
                            title: {
                                text: 'Cantidad total'
                            }

                        },
                        legend: {
                            enabled: false
                        },
                        ooltip: {
                            headerFormat: '<b>{point.x}</b><br/>',
                            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
                        }, plotOptions: {
                            column: {
                                stacking: 'normal',
                                dataLabels: {
                                    enabled: true,
                                },
                                showInLegend: true,
                            }
                        },

                        series: [
                            {
                                name: "Estado",
                                colorByPoint: true,
                                data: [
                                    {
                            name: 'No Generado',
                            color: '#8C8C8C',
                            y: @cant_noguardadop2,

                        }, {
                            name: 'Guardado',
                                color: '#0597F2',
                            y: @cant_guardadop2,

                            },{
                            name: 'Enviado',
                                color: '#8416F2',
                            y: @cant_enviadop2,

                        },{
                            name: 'Rechazado',
                                color: '#F20505',
                            y: @cant_rechazadop2,

                        },{
                            name: 'Aceptado',
                                color: '#04D976',
                            y: @cant_aceptadop2,

                        },

                                ]
                            }
                        ]
                    });
                </script>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-box">
                <div id="containerportafolio03"></div>
                <script type="text/javascript">
                    Highcharts.chart('containerportafolio03', {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: 'Portafolio Unidad III'
                        },
                        xAxis: {
                            type: 'category'
                        },
                        yAxis: {
                            title: {
                                text: 'Cantidad total'
                            }

                        },
                        legend: {
                            enabled: false
                        },
                        ooltip: {
                            headerFormat: '<b>{point.x}</b><br/>',
                            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
                        }, plotOptions: {
                            column: {
                                stacking: 'normal',
                                dataLabels: {
                                    enabled: true,
                                },
                                showInLegend: true,
                            }
                        },

                        series: [
                            {
                                name: "Estado",
                                colorByPoint: true,
                                data: [
                                    {
                            name: 'No Generado',
                            color: '#8C8C8C',
                            y: @cant_noguardadop3,

                        }, {
                            name: 'Guardado',
                                color: '#0597F2',
                            y: @cant_guardadop3,

                            },{
                            name: 'Enviado',
                                color: '#8416F2',
                            y: @cant_enviadop3,

                        },{
                            name: 'Rechazado',
                                color: '#F20505',
                            y: @cant_rechazadop3,

                        },{
                            name: 'Aceptado',
                                color: '#04D976',
                            y: @cant_aceptadop3,

                        },

                                ]
                            }
                        ]
                    });
                </script>
            </div>
        </div>
    </div>
</div>

<!--Resumen general de INFORME FINAL-->
<br />
<div class="card-box ">
    <div class="row clearfix">
        <div class="col-md-12">
            <center><h2 class="text-primary">Estado Informe Final</h2></center>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">RESUMEN - CANTIDAD DE REGISTROS POR ESTADO</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="col-md-12">
        <div class="profile-view">
            <div class="row">
                <div class="col-md-6">
                    <div class="profile-info-left">
                        <ul class="personal-info">
                            <li>
                                <span class="title">No Generado:</span>
                                <span class="text">@cant_noguardadoi</span>
                                <span class="title">Guardado:</span>
                                <span class="text">@cant_guardadoi</span>
                                <span class="title">Enviado:</span>
                                <span class="text">@cant_enviadoi</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="personal-info">
                        <li>
                            <span class="title">Aceptado:</span>
                            <span class="text">@cant_aceptadoi</span>
                            <span class="title">Rechazado:</span>
                            <span class="text">@cant_rechazadoi</span>
                            <span class="title">Total:</span>
                            <span class="text">@(cant_aceptadoi + cant_enviadoi + cant_guardadoi + cant_noguardadoi + cant_rechazadoi)</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-6">
            <div class="card-box">
                <div id="containeri"></div>
                <script type="text/javascript">


                    Highcharts.chart('containeri', {
                        chart: {
                        type: 'pie'
                        },
                        title: {
                                text: 'Grafico Circular'
                        },
                            //tooltip: {
                            //    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    //},
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                //enabled: true,
                                format: '<b>{point.name}:{point.y}</b>',
                                //style: {
                                //    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                //}
                            },
                            showInLegend: true
                        }
                    },
                    series: [{
                        name: 'Informe Final',
                        colorByPoint: true,
                        data: [{
                            name: 'No Generado',
                            color: '#8C8C8C',
                            y: @cant_noguardadoi,

                        }, {
                            name: 'Guardado',
                                color: '#0597F2',
                            y: @cant_guardadoi,

                            },{
                            name: 'Enviado',
                                color: '#8416F2',
                            y: @cant_enviadoi,

                        },{
                            name: 'Rechazado',
                                color: '#F20505',
                            y: @cant_rechazadoi,

                        },{
                            name: 'Aceptado',
                                color: '#04D976',
                            y: @cant_aceptadoi,

                        },]
                        }]
                        });
                </script>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card-box">

                <div id="container0i"></div>
                <script type="text/javascript">
                    Highcharts.chart('container0i', {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: 'Grafico de Barras'
                        },
                        xAxis: {
                            type: 'category'
                        },
                        yAxis: {
                            title: {
                                text: 'Cantidad total'
                            }

                        },
                        legend: {
                            enabled: false
                        },
                        ooltip: {
                            headerFormat: '<b>{point.x}</b><br/>',
                            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
                        }, plotOptions: {
                            column: {
                                stacking: 'normal',
                                dataLabels: {
                                    enabled: true,
                                },
                                showInLegend: true,
                            }
                        },

                        series: [
                            {
                                name: "Estado",
                                colorByPoint: true,
                                data: [
                                    {
                            name: 'No Generado',
                            color: '#8C8C8C',
                            y: @cant_noguardadoi,

                        }, {
                            name: 'Guardado',
                                color: '#0597F2',
                            y: @cant_guardadoi,

                            },{
                            name: 'Enviado',
                                color: '#8416F2',
                            y: @cant_enviadoi,

                        },{
                            name: 'Rechazado',
                                color: '#F20505',
                            y: @cant_rechazadoi,

                        },{
                            name: 'Aceptado',
                                color: '#04D976',
                            y: @cant_aceptadoi,

                        },

                                ]
                            }
                        ]
                    });
                </script>
            </div>
        </div>
    </div>
</div>

<!--Resumen general de INFORME FINAL-->
<br />
<div class="card-box ">
    <div class="row clearfix">
        <div class="col-md-12">
            <center><h2 class="text-primary">Estado Información Docente</h2></center>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">RESUMEN - CANTIDAD DE REGISTROS POR SEXO Y CARGO</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-6">
            <div class="card-box">
                <center><h4 class="card-title">Docente EPIS</h4></center>
                <div id="container"></div>
                <script type="text/javascript">
        Highcharts.chart('container', {
    chart: {
        type: 'pie'
            },
            title: {
        text: 'Cantidad Hormbres y Mujeres '
            },
            //tooltip: {
            //    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            //},
            plotOptions: {
        pie: {
            allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                //enabled: true,
                format: '<b>{point.name}:{point.y}</b>',
                        //style: {
                        //    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        //}
                    },
                    showInLegend: true
                }
        },
            series: [{
        name: 'Docente Epis',
                colorByPoint: true,
                data: [{
            name: 'Hombres',

                    y: @cantHombres,

                }, {
            name: 'Mujeres',

                    y: @cantMujeres,

                    },
                 ]
                }]
             });
                </script>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card-box">
                <center><h4 class="card-title">Docente EPIS</h4></center>
                <div id="containerdocentes">

                </div>

                <script>
                Highcharts.chart('containerdocentes', {
                    chart: {
                        type: 'pie',
                        options3d: {
                            enabled: true,
                            alpha: 45
                        }
                    },
                    title: {
                        text: 'Cargo Docentes EPIS'
                    },

                    plotOptions: {
                        pie: {
                            innerSize: 100,
                            depth: 45
                        }
                    },
                    series: [{
                        name: 'Total',
                        data: [
                            ['Director: @cant_director', @cant_director],
                            ['Administrativo: @cant_administrativo', @cant_administrativo],
                            ['Docente: @cant_docente', @cant_docente],
                        ]
                    }]
                });
                </script>
            </div>
        </div>

    </div>
</div>
    <footer>
        <p>Aplicación Web Portafolio EPIS <strong>2019-I</strong> - ©2019 Universidad Privada de Tacna</p>
    </footer>
